<div class="col-sm-6">
    <textarea data-bind="value: current_lesson_body, valueUpdate: 'afterkeydown', event: {keypress: lessonChange}" class="col-sm-12 form-control" placeholder="type your lesson in this box" id="lesson-textarea"></textarea>
</div>
<div class="col-sm-6">
    <div class="panel panel-default">
        <div class="btn-group pull-right" id="lesson-panel-btn-group">
            <button class="btn btn-default" type="button" disabled>Formatted Lesson</button>
            <button class="btn btn-info" id="save-lesson-button" data-bind="click: saveLesson, enable: contentChangesDetected">save lesson</button>
        </div>
        <div class="panel-body" data-bind="html: formatted_lesson" id="formatted-lesson"></div>
    </div>
</div>
