<div class="container">
    <div>
        <div class="formatted-lesson col-sm-9">
            <div id="lesson-div" data-bind="html: formatted_lesson"></div>
        </div>
        <div class="right-sidebar col-sm-3">
            <ul class="list-group">
                <a class="list-group-item active">
                    <h4 class="list-group-item-heading">
                        <span data-bind="text: current_unit_title"></span>
                        <br>
                        <small>Lessons</small>
                    </h4>
                </a>
                <!-- ko foreach: current_lessons -->
                <a class="list-group-item" href="#" data-bind="click: $parent.fetchLesson">
                    <h4 data-bind="text: content.title" class="list-group-item-heading"></h4>
                </a>
                <!-- /ko -->
            </ul>
        </div>
    </div>
</div>
