<div class="container">
    <div>
        <div class="formatted-lesson col-sm-9">
            <h1 data-bind="text: teacher_name"></h1>
            <p data-bind="text: teacher_bio"></p>
        </div>
        <div class="right-sidebar col-sm-3">
            <ul class="list-group">
                <a class="list-group-item active">
                    <h4 class="list-group-item-heading">Courses</h4>
                </a>
                <!-- ko foreach: teacher_courses -->
                <a class="list-group-item" href="#" data-bind="click: $parent.fetchCourse">
                    <h4 data-bind="text: content.title" class="list-group-item-heading"></h4>
                    <p data-bind="text: content.body"></p>
                </a>
                <!-- /ko -->
            </ul>
        </div>
    </div>
</div>
