<div class="container">
    <div>
        <div class="formatted-lesson col-sm-9">
            <h1 data-bind="text: current_unit_title"></h1>
            <p data-bind="text: current_unit_description"></p>
        </div>
        <div class="right-sidebar col-sm-3">
            <ul class="list-group">
                <a class="list-group-item active">
                    <h4 class="list-group-item-heading">
                        <span data-bind="text: current_unit_title"></span>
                        <br>
                        <small>Lessons</small>
                    </h4>
                </a>
                <!-- ko foreach: current_lessons_sorted -->
                <a class="list-group-item" href="#" data-bind="click: $parent.fetchLesson">
                    <h4 data-bind="text: content.title" class="list-group-item-heading"></h4>
                </a>
                <!-- /ko -->

                <!-- ko if: no_lessons -->
                <li class="list-group-item">
                    <h4 class="list-group-item-heading">Empty!</h4>
                    <p>This unit doens't have any lessons yet...</p>
                </li>
                <!-- /ko -->
            </ul>
        </div>
    </div>
</div>
