<div class="container">
    <div>
        {% include 'view_divs/view_breadcrumbs.html' %}
        <div class="formatted-lesson col-sm-9">
            <h1 data-bind="text: current_course_title"></h2>
            <p data-bind="text: current_course_description"></p>
        </div>
        <div class="right-sidebar col-sm-3">
            <ul class="list-group">
                <a class="list-group-item active">
                    <h4 class="list-group-item-heading">Units</h4>
                </a>
                <!-- ko foreach: current_units -->
                <a class="list-group-item" href="#" data-bind="click: $parent.fetchUnit">
                    <h4 data-bind="text: content.title" class="list-group-item-heading"></h4>
                    <p data-bind="text: content.body"></p>
                </a>
                <!-- /ko -->
            </ul>
        </div>
    </div>
</div>
