<div class="tabbable tabs-below hidden-xs">
    <ul id="curriculum-tabs" class="nav nav-tabs">
        <li class="logo">
            <a href="/">l<span>w</span></a>
        </li>

        <!-- dropdown for teacher and their courses -->
        <li class="dropdown active" id="user-tab">
            <a href="#user" class="dropdown-toggle" data-toggle="dropdown">
                <span data-bind="text: teacher_name_computed"></span>
                <i class="fa fa-caret-down"></i>
            </a>
            <ul class="dropdown-menu" role="menu">
                <li>
                    <a href="#user" data-bind="click: userButtonClicked, text: teacher_name_computed"></a>
                </li>
                <li class="divider"></li>
                <!-- ko foreach: teacher_courses -->
                <li>
                    <a href="#" tabindex="-1" data-toggle="tab" data-bind="text: content.title, click: $parent.fetchCourse">
                    </a>
                </li>
                <!-- /ko -->
            </ul>
        </li>
        <!-- end teacher dropdown -->

        <!-- dropdown for active course and its units -->
        <li class="dropdown" id="course-tab" data-bind="visible: (content_type()=='course' || content_type()=='unit' || content_type() == 'lesson')" >
            <a href="#course" class="dropdown-toggle" data-toggle="dropdown">
                <span data-bind="text: current_course_title"></span>
                <i class="fa fa-caret-down"></i>
            </a>
            <ul class="dropdown-menu" role="menu">
                <li>
                    <a href="#course" data-bind="click: courseButtonClicked, text: current_course_title"></a>
                </li>
                <li class="divider"></li>
                <!-- ko foreach: current_units -->
                <li data-bind="ifnot: $parent.locked">
                    <a href="#" tabindex="-1" data-toggle="tab" data-bind="text: content.title, click: $parent.fetchUnit">
                    </a>
                </li>
                <!-- /ko -->
                <li data-bind="if: locked">
                    <a>Course is Locked</a>
                </li>
            </ul>
        </li>
        <!-- end course dropdown -->

        <!-- dropdown for active unit and its lessons -->
        <li class="dropdown" id="unit-tab" data-bind="visible: (content_type()=='unit' || content_type() == 'lesson')">
            <a href="#unit" class="dropdown-toggle" data-toggle="dropdown">
                <span data-bind="text: current_unit_title"></span>
                <i class="fa fa-caret-down"></i>
            </a>
            <ul class="dropdown-menu" role="menu">
                <li>
                    <a href="#unit" data-bind="click: unitButtonClicked, text: current_unit_title"></a>
                </li>
                <li class="divider"></li>
                <!-- ko foreach: current_lessons -->
                <li>
                    <a href="#" tabindex="-1" data-toggle="tab" data-bind="text: content.title, click: $parent.fetchLesson">
                    </a>
                </li>
                <!-- /ko -->
            </ul>
        </li>
        <!-- end unit dropdown -->

        {% include './user_dropdown.html' %}

        {% if active_user %}
            {% if active_user.username == teacher.username %}
                <li class="pull-right">
                    <a data-bind="attr: {href: editButtonLink}">
                        <i class="fa fa-pencil text-green"></i> 
                        Edit
                    </a>
                </li>
            {% endif %}
        {% endif %}
    </ul>
</div>
<div class="visible-xs mobile-curriculum-links">
    <button class="btn btn-block btn-info" data-bind="click: userButtonClicked">
        
        <span data-bind="text: teacher_name"></span>
    </button>
    <button class="btn btn-block btn-info" data-bind="click: courseButtonClicked, visible: (content_type()=='course' || content_type()=='unit' || content_type() == 'lesson')">
        <span data-bind="text: current_course_title"></span>
    </button>
    <button class="btn btn-block btn-info" data-bind="click: unitButtonClicked, visible: (content_type()=='unit' || content_type() == 'lesson')">
        <span data-bind="text: current_unit_title"></span>
    </button>
</div>
