{% extends "base.html" %}

{% block side_list %}


<div class="tabbable" >
  <ul class="side-list">
    <li {% if doc not in ['terms', 'privacy'] %}class="active"{% endif %}>
      <a class="course-link" href="#about" data-toggle="tab"><p>About</p></a>
    </li>
    <li {% if doc == 'terms'%}class="active"{% endif %}>
      <a class="course-link" href="#terms" data-toggle="tab"><p>Terms of Service</p></a>
    </li>
    <li {% if doc == 'privacy' %}class="active"{% endif %}>
      <a class="course-link" href="#privacy" data-toggle="tab"><p>Privacy Policy</p></a>
    </li>
  </ul>
</div>

{% endblock %}

{% block body %}

<div class="container"> 
  <div class="row">
    <div>
      <div class="tab-content pageContents">
        <div class="tab-pane fade {% if doc not in ['terms', 'privacy'] %}active in{% endif %}" id="about">
          <div class="page-header">
            <h1>About</h1>
          </div>
          <div class="lesson-content col-lg-8">
            <p>I have been teaching in Fort Worth, TX for the last several years, and have always wanted a simpler way of putting my lessons online. I wanted a website that didn't have a million features, something that was just easy to use. I also didn't want to spend time making the website look good - it should already be great looking, without any effort on my part</p>
            <p>In the spring of 2013, I decided to create my own platform. That project has grown to what you see here today, on lessonwell.com. Lessonwell is my effort to provide fellow teachers with a dead-simple platform for hosting their lessons</p>
            <p>I hope lessonwell saves you time and lets you focus on what we all appreciate you for: teaching our students. Thank you for all that you do, and thank you for your support of this little project of mine</p>
            <p class="pull-right"><strong>Quentin Donnellan</strong><br>Founder, lessonwell</p>
          </div>
        </div>
        <div class="tab-pane col-lg-12 fade {% if doc == 'terms' %}active in {% endif %}" id="terms">
          <div class="page-header">
            <h1>Terms of Service</h1>
          </div>
          <div class="lesson-content">
            {% include 'tos2.html' %}
          </div>
        </div>
        <div class="tab-pane col-lg-12 fade {% if doc == 'privacy' %}active in {% endif %}" id="privacy">
          <div class="page-header">
            <h1>Privacy Policy</h1>
          </div>
          <div class="lesson-content">
            {% include 'privacy.html' %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}