{% extends "base.html" %}
{% block body %}
<header class="jumbotron subhead" id="overview">
  <div class="container">
    <h1>Course Catalog</h1>
    <p class="lead">Browse all of the listed courses on lessonwell</p>
  </div>
</header>
<div class="bs-docs-social">
  <div class="container">
  	<div class="btn-group">
  		{% if sort not in ['recent']%}
  			<a class="btn disabled" href="/catalog"><i class="icon-bullseye icon-large text-theme"></i> Most Popular</a>
  		{% else %}
  			<a class="btn" href="/catalog"><i class="icon-sort-down muted"></i> Most Popular</a>
  		{% endif %}
  		{% if sort == 'recent'%}
  			<a class="btn disabled" href="/catalog?sort=recent"><i class="icon-bullseye icon-large text-theme"></i> Newest</a>
  		{% else %}
  			<a class="btn" href="/catalog?sort=recent"><i class="icon-sort-down muted"></i> Newest</a>
  		{% endif %}
  	</div>
  </div>
</div>
<div class="container">
	<br>
	<div class="row-fluid hidden-phone">
		<div class="span4">
			{% for course in listed_courses %}
				{% if (loop.index + 2) is divisibleby 3 %}
					{% include 'course_thumbnail.html' %}					
				{% endif %}
			{% endfor %}	
		</div>
		<div class="span4">
			{% for course in listed_courses %}
				{% if (loop.index + 1) is divisibleby 3 %}
					{% include 'course_thumbnail.html' %}
				{% endif %}
			{% endfor %}
		</div>
		<div class="span4">
			{% for course in listed_courses %}
				{% if loop.index is divisibleby 3 %}
					{% include 'course_thumbnail.html' %}
				{% endif %}
			{% endfor %}	
		</div>
	</div>
	<div class="row-fluid visible-phone">
		{% for course in listed_courses %}
			{% include 'course_thumbnail.html' %}
		{% endfor %}
	</div>
</div>




{% endblock %}