{% extends "base.html" %}
{% block body %}
<header class="jumbotron masthead" id="overview">
  <div class="container">
    <h1>Success!</h1>
  </div>
</header>
<div class="container">
	<div class="marketing">
			<h1>You have successfully donated to your teacher!</h1>
			<p class="marketing-byline">Remember, these donations are completely anonymous</p>
				<a href="/{{user.username}}" class="btn btn-primary">Go back to your teacher's profile</a>
			<hr class="soften">
	</div>		
</div>
{% endblock %}