{% extends "base.html" %}

{% block side_list %}

<ul class="side-list">
  <li class="active">
    <a class="course-link" href="#" ><i class="icon-check-empty"></i> Step 1: Link Google Account</a>
  </li>
  <li class="completed-step">
    <a class="course-link completed-step" ><i class="icon-check-empty"></i> Step 2: Personal Information</a>
  </li>
  <li class='completed-step'>
    <a class="course-link"><i class="icon-check-empty"></i> Registration Complete</a>
  </li>
</ul>

{% endblock %}

{% block body %}

{% set googleUser = google_users_api.get_current_user() %}

<div class="container">
  <div class="page-header">
    <h1>{% if googleUser %}<strong class="text-success">Confirm</strong>{% else %}Link{% endif %} Google Account</h1>
  </div>
  {% if not googleUser %}
  <p class='lead col-lg-8'>We use Google authentication for sign-in/sign-out in an effort to make your password management easier and more secure. Once you've linked your account, anytime you log into Google, you'll be logged into this website automatically.</p>
  <p class="lead col-lg-8">If you don't have a Google Account, you can <a href="https://accounts.google.com/SignUp" target="_blank">create one for free</a></p>
  <div class="col-lg-8">
    <a href="{{google_users_api.create_login_url('/link')}}" class="btn btn-primary btn-lg">
      <i class="icon-link"></i> Link Google Account
    </a>
  </div>
  {% else %}
  <div class="col-lg-8">
        <h4>Currently logged is as: <strong>{{google_users_api.get_current_user().email()}}</strong></h4>
        <p>Please confirm that this is the account you wish to associate with lessonwell. If you would rather use a different google account, log out of this google account; you will then be able to sign into a separate google acount
        </p>
        <a href="/sign_up" class="btn btn-primary btn-lg">Use this account</a>
        <a href="{{google_users_api.create_logout_url('/link')}}" class="btn btn-info btn-lg">Log out of this account</a>
  </div> 
  {% endif %}   
</div>


{% endblock %}