{% extends "base.html" %}
{% block body %}

<div class="container">
  <div class="marketing home-stuff">
    <br><br><br>
    <section id="first">
      <div class="row-fluid">
        <div class="span5">
          <h1>Make Course. <br>Sell Access. <br> Profit.</h1>
          <p class="marketing-byline">It really is that simple. After you have created a course on lessonwell, simply charge people to access it. Choose any price and change it at any time. That's it! </p>
        </div>
        <div class="span7">
          <h1><i class="icon-book text-theme icon-2x"></i> <i class="icon-refresh muted icon-2x"></i> <i class="icon-money text-success icon-2x"></i></h1>
        </div>
      </div>
    </section>

    <hr class="soften">

    <section id="easy">
      <div class="row-fluid">
        <div class="span7">
          <h1><i class="icon-resize-small text-theme icon-4x"></i></h1>
        </div>
        <div class="span5">
          <h1>Incredibly Easy Setup</h1>
          <p class="marketing-byline">Setup is incredibly easy thanks to the payment service <strong>Stripe</strong>. Create a Stripe account, link it to your lessonwell account, and you're ready to start making money.</p>
          <p><a class="btn btn-primary btn-large" href="http://manage.stripe.com/register"><i class="icon-resize-small"></i> Create your Stripe Account Today</a></p>
        </div>
      </div>
    </section>

    <hr class="soften">

    <section id="fees">
      <div class="row-fluid">
        <div class="span5">
          <h1>Simple, Low Fees</h1>
          <p class="marketing-byline">You keep most of the money you make on lessonwell, that's how it should be. Everytime you sell access to your course, the following fees are collected: </p><p class="marketing-byline"> <strong>Stripe</strong> collects <strong class="text-theme">2.9% + 30 cents</strong> for processing the credit card information</p><p class="marketing-byline"><strong>lessonwell</strong> will take an additional <strong class="text-theme">7%</strong>.</p>
          <p class = "marketing-byline">The rest is yours. Period.</p>
        </div>
        <div class="span7">
          <h1><i class="icon-circle-arrow-down text-theme icon-4x"></i></h1>
          <h1 class="text-theme"><strong>Low fees</strong></h1>
        </div>        
      </div>
    </section>

    <hr class="soften">

    <section id="start-now">
      <h1>Get Started Today</h1>
      <p class="marketing-byline">Start selling your lessons now by signing up for a <strong>Plus</strong> subscription.</p>
      <p><a class="btn btn-large btn-primary" href="/pricing">Create an Account Now!</a></p>
    </section>

    <hr class="soften">

  </div>
  
</div>



{% endblock %}
