{% extends "base.html" %}
{% block body %}
<header class="jumbotron masthead" id="overview">
  <div class="container">
    <p class="lead"><i class='icon-certificate text-theme'></i> 30-day Free Trial on All Accounts <br>
    	{% if monetize %}
    	<a class="btn btn-warning" id="sell-special" href="/monetize"><strong><i class="icon-star"></i> NEW:</strong> Sell Lessons, Make Money</a>
    	{% endif %}
    </p>
    <br>
    <div class="row-fluid">
    	<div class="span12 price-holder">
	    	<div class="span3 price-package">
	    		<h2>Basic</h2>
	    		<h3>$4/month</h3>
	    		<p><i>All you need to get started on your first course.</i></p>
	    		<p><i class="icon-book"></i> 1 course</p>
					<p><i class="icon-copy"></i> unlimited units</p>
					<p><i class="icon-beaker"></i> unlimited lessons/unit</p>
					<p><i class="icon-lock"></i> Make Course Private</p>
					{% if monetize %}
						<p class="text-theme"><i class="icon-tags"></i> Sell Your Lessons</p>
					{% endif %}
					{% if donate %}<p><i class="icon-money"></i> receive donations</p>{% endif %}
					<br>
					{% if localCustomer.exists %}
						{% if localCustomer.customer.subscription.plan.id == 'basic' %}
							<a class="btn btn-success btn-disabled" disabled>Current Plan</a>
						{% else %}
							<a href="/sign_up/free?upgrade=true" class="btn btn-success">
								{% if localCustomer.customer.subscription.plan.id in ['plus', 'max'] %}
									<i class="icon-edit icon-circle-arrow-down"></i> Downgrade
								{% else %}
									<i class="icon-edit icon-circle-arrow-up"></i> Upgrade
								{% endif %}
							</a>
						{% endif %}
					{% else %}
						<a href="/link/basic" class="btn btn-success">Sign Up</a>
					{% endif %}
	    	</div>
	    	<div class="span3 price-package-featured">
	    		<h2>Plus</h2>
	    		<h3>$10/month</h3>
	    		<p><i>The best place to start putting multiple courses online.</i></p>
	    		<p><i class="icon-book"></i> 3 courses</p>
					<p><i class="icon-copy"></i> unlimited units</p>
					<p><i class="icon-beaker"></i> unlimited lessons/unit</p>
					<p><i class="icon-lock"></i> Make Courses Private</p>
					{% if donate %}<p><i class="icon-money"></i> receive donations</p>{% endif %}
					{% if monetize %}
						<p class="text-theme"><i class="icon-tags"></i> Sell Your Lessons</p>
					{% endif %}
					<br>
					{% if localCustomer.exists %}
						{% if localCustomer.customer.subscription.plan.id == 'plus' %}
							<a class="btn btn-success btn-disabled" disabled>Current Plan</a>
						{% else %}
							<a href="/sign_up/plus?upgrade=true" class="btn btn-success">
								{% if localCustomer.customer.subscription.plan.id in ['max'] %}
									<i class="icon-edit icon-circle-arrow-down"></i> Downgrade
								{% else %}
									<i class="icon-edit icon-circle-arrow-up"></i> Upgrade
								{% endif %}
							</a>
						{% endif %}
					{% else %}
						<a href="/link/plus" class="btn btn-success">Sign Up</a>
					{% endif %}
	    	</div>
	    	<div class="span3 price-package">
	    		<h2>Max</h2>
	    		<h3>$15/month</h3>
	    		<p><i>You're ready to put all your classes online; you need Max!</i></p>
	    		<p><i class="icon-book"></i> 6 courses</p>
					<p><i class="icon-copy"></i> unlimited units</p>
					<p><i class="icon-beaker"></i> unlimited lessons/unit</p>
					<p><i class="icon-lock"></i> Make Courses Private</p>
					{% if donate %}<p><i class="icon-money"></i> receive donations</p>{% endif %}
					{% if monetize %}
						<p class="text-theme"><i class="icon-tags"></i> Sell Your Lessons</p>
					{% endif %}

					<br>
					{% if localCustomer.exists %}
						{% if localCustomer.customer.subscription.plan.id == 'max' %}
							<a class="btn btn-success btn-disabled" disabled>Current Plan</a>
						{% else %}
							<a href="/sign_up/max?upgrade=true" class="btn btn-success">
								<i class="icon-edit icon-circle-arrow-up"></i> Upgrade
							</a>
						{% endif %}
					{% else %}
						<a href="/link/max" class="btn btn-success">Sign Up</a>
					{% endif %}
	    	</div> 
	    	<div class="span3 price-package">
	    		<h2>Admin</h2>

	    		<p><i>School administrators, buy lessonwell for your teachers!</i></p>
	    		<p class="text-info"><i class="icon-certificate"></i> Lesson Alignment</p>
	    		<p><small><i>Teachers can easily align lessons to the <strong>Common Core State Standards (CCSS)</strong> and the <strong>Texas Essential Knowledge and Skills (TEKS)</strong></i></small></p>
					<p class="text-info"><i class="icon-group "></i> Flexible, Per-Teacher Pricing</p>
					<p class="text-info"><i class="icon-ban-circle"></i> Enable/Disable Sell Lesson Feature</p>
					<br>
					<a class="btn btn-primary" href="mailto:quentin@lessonwell.com" target="_blank">Contact Us</a>
					
	    	</div>      	
	    </div>	    
    </div>
    <div class="row-fluid free-plan-div">
    	<span class="muted">We also offer a free plan: 
    		<i class="icon-book text-success"></i> 1 course, 
    		<i class="icon-copy text-success"></i> 2 units, 
    		<i class="icon-beaker text-success"></i> 10 lessons/unit </span>
    		<br>
	    {% if localCustomer.exists %}
	    	{% if localCustomer.customer.subscription.plan.id == 'free' %}
	    		The Free Plan is Your Current Plan
	    	{% else %}
	    		<a href="/sign_up/free?upgrade=true">Click Here to Downgrade to the Free Plan</a>
	    	{% endif %}
	    {% else %}
	    	<a href="/sign_up/free">Click Here to Sign Up For the Free Plan</a>
	    {% endif %}
	  </div>
  </div>
</header>
<div class="container">	
	<div class="row-fluid">
		<div class="marketing span8 offset2">
			<div class="span12">
				<h1>Pay for what you use</h1>
				<p class="marketing-byline">Change your plan at any time</p>
				<p>All of our plans are monthly, pro-rated, which means if you change your plan in the middle of the month, you don't pay for your unsued days! You can upgrade anytime you want - your next bill will reflect the time spent on the old plan, plus the time spent on the new plan! Perfect for testing out which feels right for you.</p>
			</div>
			<div class="span12">
				<h1>Trust/Security</h1>
				<p class="marketing-byline">We use <a href="http://www.stripe.com">stripe</a> to manage your payments</p>
				<p>Stripe is a payment system we use to manage your subscriptions. You can rest easy knowing your sensitive financial information is in good hands (<a href="https://stripe.com/help/security">read about stripe's security</a>). Lessonwell never sees your credit card numbers.</p>
			</div>
			<div class="span12">
				<h1>Free Trial on All Accounts</h1>
				<p class="marketing-byline">Your 30 days follow you if you change plans!</p>
				<p>Play around with max, then switch to basic; what do we care? You have 30 days to use lessonwell however you want. If you don't want to continue service, simply cancel your subscription and you won't be charged a dime. When your 30 day trial has expired, you will be charged each month at the subscription rate.</p>
			</div>			
		</div>
	</div>		
</div>


{% endblock %}