{% extends "base.html" %}

{% block body %}

<div class="profile-page">
    <div data-bind="if: content_type() == 'user'">
        {% include 'view_divs/view_user.html' %}
    </div>
    <div data-bind="if: content_type() == 'course'">
        {% include 'view_divs/view_course.html' %}
    </div>
    <div data-bind="if: content_type() == 'unit'">
        {% include 'view_divs/view_unit.html' %}
    </div>
    <div data-bind="if: content_type() == 'lesson'">
        {% include 'view_divs/view_lesson.html' %}
    </div>
</div>

<script src="/js/knockout-3.0.0.js"></script>
<script src='/js/markdown.js'></script>
<script src="/js/format.js"></script>
<script src="/js/profile.js"></script>
<script type="text/javascript" src="/js/highlight.min.js"></script>
{% endblock %}
