{% extends "base.html" %}
{% block body %}

<div class="container">
  <div class="marketing home-stuff">
    <br><br><br>
    <section>
      <h1>50% Off For 12 Months</h1>
      <h2 class="text-theme">Spend this summer getting your lessons ready for the new year</h2>
      <h5 class="muted">Only the first 100 redemptions before August 1, 2013 will be awarded the coupon, so hurry!</h5>
    </section>   

    <div class="row-fluid">
      <div class="span5">
        <h1>1.</h1>
        <h2>Create Account</h2>
        <p class="marketing-byline">
          It only takes a minute to create an account, start now! <a href="/pricing">Learn more about the different plans</a>
        </p>
        <p>Or, go ahead and sign up now!</p>
        <p>
          <div class="btn-group">            
            <a class="btn" href="/sign_up/basic"><i class="icon-bookmark muted"></i> Basic</a>
            <a class="btn" href="/sign_up/plus"><i class="icon-bookmark text-info"></i> Plus</a>
            <a class="btn" href="/sign_up/max"><i class="icon-bookmark text-theme"></i> Max</a>
          </div>
        </p>

      </div>

      <div class="span6 offset1">
        <h1>2.</h1>
        <h2>Edit Profile, Enter Code</h2>
        <p class="marketing-byline">
          After you have successfully created an account, click on the links to edit your profile. You should see a field to enter the following coupon code:
        </p>
        <div class="well well-small">
          <h3 class="text-theme">lessonwellsummer</h3>
        </div>
        
      </div>
      

    </div>

  </div>
  
</div>



{% endblock %}
