{% extends "base.html" %}

{% block body %}


<div class="sandbox">
    <!-- Instructional Video(gifs) modal -->
    <div class="sandbox-modal modal fade example-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h2 class="modal-title">Sandbox Help</h2>
                    <p>Some instructional animations to help guide you...</p>
                </div>
                <div class="modal-body">
                    <div class="col-sm-2 sandbox-modal-sidebar">
                        <ul data-bind="foreach: instructionalGifs" class="nav nav-pills nav-stacked">
                            <li data-bind="css: {active: $parent.currentGif() == link }">
                                <a data-bind="click: $parent.setCurrentImage, text: name" href="#"></a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-sm-10 sandbox-modal-gif">
                        <img data-bind="attr: {src: currentGif}" class="img-responsive">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <!-- end modal -->
    <div class="sandbox-header">
        <div class="col-sm-6 text-center">
            <i class="fa fa-reply fa-rotate-270 fa-2x text-muted"></i> Type up your content here  <button class="btn btn-primary pull-right" data-toggle="modal" data-target=".example-modal">Sandbox Help</button>
        </div>
        <div class="col-sm-6 text-center">
            Your lesson will be formatted here <i class="fa fa-share fa-rotate-90 fa-2x text-muted"></i> 
        </div>
    </div>
    <div class="sandbox-content">
        <textarea  data-bind="value: sandboxInput, valueUpdate: 'afterkeydown'" id="sandbox-textarea" class="col-sm-6 form-control"></textarea>
        <div id="sandbox-output" class="col-sm-6" data-bind="html: sandboxOutput"></div>
    </div>
</div>



<script src="/js/knockout-3.0.0.js"></script> 
<script src='/js/markdown.js'></script>
<script src="/js/sandbox.js"></script>
<script type="text/javascript" src="/js/highlight.min.js"></script>

{% endblock %}