<div class='col-lg-12 standards-tabs'>  
    <ul id="myTab" class="nav nav-tabs">
        <li class="active"><a href="#current-standards" data-toggle="tab">Your Course<br><small class="muted">already added</small></a></li>
        <li><a href="#teks" data-toggle="tab">TEKS<br><small class="muted">expore/add</small></a></li>
    </ul>
    <div id="myTabContent" class="tab-content">
      <div class="tab-pane fade in active" id ="current-standards">        
        <p class="muted"><strong>Standard "Strands" Associated with this Course.</strong> <small>When you create or edit your lessons, you will be able to attach standards associated with the following strands.</small> </p>
        <hr>
        <div id="current-standards-div">
          {% if current_standards in [none, []] %}        
            <p class="well muted">Nothing here yet! Explore the "TEKS" tab to add standards to this course.</p>
          {% else %}  
            <div>
              {% include 'standards_list.html' %}
            </div>
          {% endif %}
        </div> 
      </div>      
      
      <div class="tab-pane fade in" id="teks">
        <form method="post" action="/ajax_standards/{{course.key.id()}}" class="standard-add">
          <p class="muted"><strong>The Texas Essential Knowledge and Skills</strong> <small>are organized by content type, then by grade level, then by course name. You should explore each strand below and then choose the appropriate grade levels and courses you wish to associate with your course. When you create or edit your lessons, you will be able to choose TEKS that belong to your selection(s) below</small></p>
          <p><button class="btn btn-primary" name="add_standards">Save Changes</button></p>
          <div class="panel-group" id="master-accordion"> <!-- master accordion -->
            {% for chapter in teks.chapters %}
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a class="accordion-toggle" data-toggle="collapse" data-parent="#master-accordion" href="#teks-{{chapter.id}}">
                    {{chapter.title}}
                  </a>
                </h4>
              </div>
              <div id="teks-{{chapter.id}}" class="panel-body collapse">
                <div class="accordion-inner master-inner">
                  <!-- inner accordion -->
                  <div class="panel-group" id="slave-accordion-{{chapter.id}}">
                    {% for subchapter in chapter.subchapters %}
                    <div class="panel">
                      <div class="panel-heading">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#slave-accordion-{{chapter.id}}" href="#teks-{{chapter.id}}-{{subchapter.id}}">
                          <i class="icon-signin muted"></i> {{subchapter.title}}
                        </a>
                      </div>
                      <div id="teks-{{chapter.id}}-{{subchapter.id}}" class="panel-body collapse">
                        <div class="accordion-inner">
                          {% for section in subchapter.sections %}
                            {% if 'Implementation of Texas Essential' not in section.title %}
                            <label class="checkbox">
                              <input type="checkbox" value="teks-{{section.id}}" name="standards-checked">
                              {{ section.title }}
                            </label>
                            {% endif %}
                          {% endfor %}
                        </div>
                      </div>
                    </div>
                    {% endfor %}
                  </div>
                  <!-- end inner accordion -->
                </div>
              </div>
            </div>
            {% endfor %}
          </div> <!-- end master accordion -->
        </form>
      </div>       
    </div>    
</div>

