<div class="panel-group" id="master-accordion"> <!-- master accordion -->
  {% for section in teks %}
  {% set sectionID = loop.index %}
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#master-accordion" href="#section{{sectionID}}">
          {{section.id}}: {{section.title}}
        </a>
      </h4>
    </div>
    <div id="section{{sectionID}}" class="panel-body panel-collapse collapse">
      <div class="accordion-inner master-inner">
        <!-- inner accordion -->
        <div class="panel-group" id="slave-accordion-section{{sectionID}}">
          {% for domain in section.domains %}
          {% if 'Introduction' not in domain.title and 'General' not in domain.title %}
          <div class="panel">
            <div class="panel-heading">
              <a class="accordion-toggle" data-toggle="collapse" data-parent="#slave-accordion-section{{sectionID}}" href="#teks-{{sectionID}}-{{domain.id}}">
                <i class="icon-signin muted"></i> {{domain.title}}
              </a>
            </div>
            <div id="teks-{{sectionID}}-{{domain.id}}" class="panel-body collapse">
              <div class="accordion-inner">
                {% for standard in domain.standards %}
                  <label class="checkbox">
                    <input type="checkbox" value="teks-{{standard.id}}" name="standards-checked">
                    {{ standard.title }}
                  </label>
                {% endfor %}
              </div>
            </div>
          </div>
          {% endif %}
          {% endfor %}
        </div>
        <!-- end inner accordion -->
      </div>
    </div>
  </div>
  {% endfor %}
</div> <!-- end master accordion -->
