<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="">
    	<meta name="author" content="">
		<link href = "/stylesheets/bootstrap.css" rel="stylesheet">
		<link href = "/stylesheets/docs.css" rel="stylesheet">
		<link href = "/stylesheets/prettify.css" rel="stylesheet">
		<script src="/javascript/jquery.js"></script>
		</script>	

		<title>lessonwell</title>

	</head>	
	
	<body data-spy="scroll" data-target=".bs-docs-sidebar">		
		<div class="navbar navbar-inverse navbar-fixed-top">
			<div class="navbar-inner">
				<div class="container">
					<a class="brand" href="/">lesson<span>well</span></a>
					<div class="nav-collapse collapse">
					</div>
				</div>
			</div>
		</div>	


		<header class="jumbotron masthead" id="overview">
			<div class="container" >
				<h1>lesson<span class="brand-well">well</span></h1>
				<p>create great lessons quickly</p>
			</div>
		</header>
		<div class="container">
			<div class="marketing">
				<h1>Currently Under Construction</h1>
				<p class="marketing-byline">lessonwell is currently undergoing some scheduled maintenance. Check back shortly!</p>
				<hr class="soften">
			</div>
			
		</div>
			
		

		<footer class="footer">
			<div class="container">
				<p>lessonwell (v.alpha)</p>
				<p>Currently in experimental mode</p>
				<p>Send feedback to <a href="mailto:quentin@lessonwell.com">quentin@lessonwell.com</a>
				<br>
			</div>
		</footer>	
			

		<script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
		
		<script src="/javascript/bootstrap.js"></script>
		<script src="/javascript/prettify.js"></script>
		<script src="/javascript/application.js"></script>
		<script src="/javascript/lang-tex.js"></script>


		    
	</body>
</html>


