{% extends "base.html" %}
{% import 'common.html' as common with context %}

{% block side_list %}
<ul class="side-list" >      
  {{ common.course_link() }}
</ul>

<div class="tabbable" >
	<ul class="side-list">
		<li {% if active_lesson in [none, None, ''] %}class="active" {% endif %} >
			<a class="unit-link unit-active" data-toggle="tab" href="#unit-overview">
				<p><i class="icon-caret-down"></i> {{unit.title}}</p>
			</a>
		</li>
		{% if emptyContent.exists %}
			<li>
				<a class="lesson-link" href="#"><p>( no lessons )</p></a>
			</li>
		{% endif %}	
		{% for lesson in lessons %}
		<li {% if active_lesson == "lesson%s" % lesson.key.id() %} class="active" {% endif %} >
			<a href="#lesson{{lesson.key.id()}}" data-toggle="tab" class="lesson-link">
				<p>{{lesson.title}}</p>
			</a>
		</li>
		{% endfor %}
	</ul>
</div>

{% endblock %}

{% block body %}


<div class="container">
	<div class="">
		<div class="tab-content pageContents">
			<div class="tab-pane {% if active_lesson in [none,None,''] %} active in {% endif %} fade" id="unit-overview">
				<div class="big-container hidden-xs">
					<h1>{{unit.title}}</h1>
					<p class="lead">{{unit.body}}</p>
					<div>
						{% if user.username == localUser.username %}
							<!-- add some stuff here about adding a lesson or editing the unit -->
							<a class="btn btn-primary btn-lg" href="/add_lesson/{{course.key.id()}}/{{unit.key.id()}}">
								<i class="icon-plus"></i> New Lesson
							</a>
							<a class="btn btn-success btn-lg" href="/edit_unit/course{{course.key.id()}}/{{unit.key.id()}}">
								<i class="icon-edit"></i> Edit this Unit
							</a>
						{% endif %}		
					</div>				
				</div>
				
				<div class="visible-xs">
					<div class="xs-header">
						<h1>{{unit.title}}</h1>
						<p class="lead">{{unit.body}}</p>
						<div class="xs-nav-buttons visible-xs">
							<a href="/{{user.username}}/course{{course.key.id()}}" class="btn btn-default btn-lg">
								<i class='icon-chevron-sign-left'></i> Course Home
							</a>
						</div>
					</div>
					<div class="row">
						<div class="mobile-unit-links col-lg-12">
							<ul>
								{% for lesson in lessons %}
								<li class="mobile-lesson-links">
									<a href="#lesson{{lesson.key.id()}}" data-toggle="tab">
										<p><i class="icon-chevron-sign-right pull-right"></i> {{lesson.title}}</p>
									</a>
								</li>
								{% endfor %}
							</ul>
						</div>
					</div>
				</div>
			</div>

			{% for lesson in lessons %}
			<div class="tab-pane fade {% if active_lesson == 'lesson%s' % lesson.key.id() %} active in{% endif %}" id="lesson{{lesson.key.id()}}">
				<div class="page-header col-lg-12 hidden-xs">
					<h1>{{lesson.title}}
						<small> 
							{% if user.username == localUser.username %}
								<a class="btn btn-success pull-right" href="/edit_lesson/course{{course.key.id()}}/{{unit.key.id()}}/{{lesson.key.id()}}"><i class="icon-edit"></i> edit lesson</a>
							{% endif %}
						</small>
					</h1>
				</div>
				<div class="xs-header visible-xs">
					<h1>{{lesson.title}}</h1>
					<div class="xs-nav-buttons">
						<a href="#unit-overview" class="unit-home-btn btn btn-default btn-lg" data-toggle="tab"><i class='icon-chevron-sign-left'></i> Unit Home</a>
					</div>
				</div>
				<div class="lesson-content col-lg-12">
					<p>{{shorthand(lesson.body) | safe}}</p>
				</div>
				{% if lesson.blobs not in [none, '', {}] %}
				<div class='well'>						
					<h4 class="muted">Attachments</h4>						
					{% for key in lesson.blobs %}
						<p>
							<i class="muted icon-paper-clip"></i>
							<a href="/attachment/{{lesson.blobs[key]}}" target="blank">
								{{ BlobInfo.get(lesson.blobs[key]).filename }}
							</a>
						</p>
					{% endfor %}						
				</div>
				{% endif %}
			</div>
			{% endfor %}
		</div>

	</div>
	{% if customer.plan == 'free' %}
	<div class="ad-div">
		<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
		<!-- lessonwell-bottom-responsive -->
		<ins class="adsbygoogle lessonwell-bottom-responsive"
     style="display:inline-block"
     data-ad-client="ca-pub-9845399559551921"
     data-ad-slot="6676575699"></ins>
		<script>
			(adsbygoogle = window.adsbygoogle || []).push({});
		</script>
		{% if user.username == localUser.username %}
		<p class="ad-remove-text">
			<a href="/sign_up/plus?upgrade=true">Upgade to Plus, remove ads</a>
		</p>
		{% endif %}
	</div>
	{% endif %}
</div>

<script type="text/javascript">
	$(".unit-home-btn").on("click", function() {
		$('.mobile-lesson-links').removeClass("active");
		$("#unit-overview").parent('li').addClass("active");
	});
</script>

{% endblock %}