<div class="marketing thumbnail">
	<h2 class="hidden-phone">{{unit.title}}</h2> 
	<h4 class="visible-phone">{{unit.title}}</h4>
	<p class="hidden-phone">{{unit.body}}</p>
	<p class="visible-phone"><small>{{unit.body}}</small></p>
		<div class="bs-docs-social course-bottom">
		<p>
			<div class="btn-group">
				<a class="btn btn-small disabled">
					<i class="icon-signin muted icon-large"></i>
				</a>
				<a class = "btn btn-small" href="/{{user.username}}/course{{course.key.id()}}/unit{{unit.key.id()}}">
					<i class="icon-search icon-large text-theme"></i> Explore
				</a>
				{% if user.username == localUser.username %}
					<a class = "btn btn-small" href="/add_lesson/{{course.key.id()}}/{{unit.key.id()}}">
						<i class="icon-plus icon-large text-success"></i> Add Lesson
					</a>
					<a class = "btn btn-small" href="/edit_unit/course{{course.key.id()}}/{{unit.key.id()}}">
						<i class="icon-edit icon-large text-warning"></i> Edit
					</a>	
				{% endif %}	
			</div>	
		</p>
	</div>
</div>
<br>