<ol class="breadcrumb breadcrumb-arrow">
    <li><a href="#edit" data-bind="click: editButtonClicked">{{user.username}}</a></li>
    <li data-bind="visible: courseActive"><a href="#course" data-bind="click: courseButtonClicked, text: current_course_title"></a></li>
    <li data-bind="visible: unitActive"><a  href="#unit" data-bind=" click: unitButtonClicked, text: current_unit_title"></a></li>
    <li data-bind="visible: lessonActive && !newContent"><a href="#lesson" data-bind="click: lessonButtonClicked">Lesson</a></li>
    <span data-bind="visible: newContent">
        <span data-bind="if: lessonActive">
            A new lesson!
        </span>
        <span data-bind="ifnot: lessonActive">
            A new <span data-bind="text: child_content_type()"></span>!
        </span>
    </span>
</ol>