<div class="container">
    <div class="col-sm-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h5>Course List
                    <a class="btn btn-info pull-right" data-bind="click: initNewContent">new course</a>
                </h5>
            </div>
            <ul class="list-group" data-bind="if: no_courses">
                <li class="list-group-item">
                    You have no courses yet!
                </li>
            </ul>
            <ul class="list-group" data-bind="foreach: teacher_courses">
                <li class="list-group-item">
                    <a data-bind="click: $parent.fetchCourse" href="#edit_course" class="btn btn-default pull-right">Edit</a>
                    <p><strong data-bind="text: content.title"></strong></p>
                    <p class="text-muted" data-bind="text: content.body"></p>

                </li>
            </ul>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h5>
                    Personal Info
                    <button class="btn btn-primary pull-right" data-bind="enable: profileChangesDetected, click: saveChangesToTeacher">save changes</button>
                </h5>
            </div>
            <div class="panel-body">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Link to Profile</label>
                        <div class="col-sm-9">
                            <code>
                                www.lessonwell.com/{{active_user.username}}
                            </code>
                            <span class="help-block">Share this link with your students</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Name</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" data-bind="value: teacher_name, event: {keypress: profileChange}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">About</label>
                        <div class="col-sm-9">
                            <textarea class="form-control" rows="5" data-bind="event: {keypress: profileChange}, value: teacher_bio" placeholder="write something about yourself!"></textarea>
                        </div>
                    </div>
                    <!-- ko if: customer_loaded -->
                    <div class="form-group" data-bind="if: trial_active">
                        <label class="col-sm-3 control-label">Free Trial</label>
                        <div class="col-sm-9">
                            <div class="alert alert-success" role="alert">
                                <p><strong>Free Trial Active!</strong></p>
                                <p>Trial end date: 
                                    <span data-bind="text: trial_end"></span>
                                </p>
                                <p>After this date you will need to have a credit card on file <strong>or recieve sponsorship</strong> to continue using lessonwell. If you enter card information before this date you will not be charged until your trial has expired.</p>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Sponsor</label>
                        <div class="col-sm-9">
                            <p class="text-muted">You currently do not have a sponsor</p>
                            <p>
                                <button type="button" class="btn btn-success" data-toggle="modal" data-target="#sponsorModal">
                                    <strong>Request Sponsorship Now!</strong>
                                </button>
                            </p>
                        </div>
                    </div>
                    <!-- /ko -->

                    <!-- ko ifnot: customer_loaded -->
                    <div class="form-group text-center">
                        <div class="col-sm-9 col-sm-offset-2">
                            <h3>
                                <i class="fa fa-circle-o-notch fa-spin text-green"></i>
                            </h3>
                            <p>Loading Customer Info...</p>
                        </div>
                    </div>
                    <!-- /ko -->

                </form>

                <form class="form-horizontal" data-bind="visible: customer_loaded" method="POST" action="/api/card">
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Card</label>
                        <div class="col-sm-9">
                            <p>Active cards will be charged $10/month on a pro-rated basis. <strong>If you have a sponsor your card will not be charged!</strong>. To learn more about how the lessonwell subscription works,
                                <a href="/subscriptions" target="_blank">
                                    click here <i class="fa fa-external-link"></i> 
                                </a> 
                            </p>
                            <input type="text" class="form-control" data-bind="attr: {placeholder: last_four }" disabled>
                        </div>
                    </div>
                    <div class="form-group" >
                        <label class="col-sm-3 control-label"></label>
                        <div class="col-sm-9">
                            <script
                                src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                                data-key="{{ stripe_publish_key }}"
                                data-image="/lessonwell_square.png"
                                data-name="lessonwell"
                                data-panel-label="Update Card"
                                data-description="Update Payment Information"
                                data-allow-remember-me="false"
                                data-label="Update Credit Card"
                                data-email="{{google_users_api.get_current_user().email()}}">
                            </script>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>

<!-- Sponsor Modal -->
<div class="modal fade" id="sponsorModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h3 class="modal-title" id="myModalLabel">
                    Request Sponsorship
                </h3>
            </div>
            <div class="modal-body">
                <p class="lead">
                    Lessonwell makes it easy for your department head, administrator, support group, or anyone else to sponsor your subscription <strong>for an entire year</strong>. Simply share the link below and let them pay for your subscription at a discounted rate. 
                </p>
                <p class="lead text-center">
                    <code>www.lessonwell.com/sponsor/{{ active_user.username }}</code>
                </p>
                <p class="lead">
                    Once you have recieved sponsorship, you can use lessonwell at absolutely no cost to you for the duration of the sponsorship. 
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
