<div class="container" data-bind="ifnot: newContent">
    <div class="col-sm-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h5>
                    <span data-bind="text: current_unit_title"></span>
                    <button class="btn btn-info pull-right" data-bind="click: initNewContent">new lesson</button>
                </h5>
            </div>
            <ul class="list-group" data-bind="if: no_lessons">
                <li class="list-group-item">
                    This unit has no lessons yet!
                </li>
            </ul>
            <ul class="list-group" data-bind="foreach: current_lessons">
                <li class="list-group-item">
                    <a data-bind="click: $parent.fetchLesson" href="#edit_lesson" class="btn btn-default pull-right">Edit</a>
                    <p data-bind="text: content.title"></p>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h5>
                    Unit Settings
                    <button class="btn btn-primary pull-right" data-bind="enable: contentChangesDetected, click: saveChangesToContent">save changes</button>
                </h5>
            </div>
            <div class="panel-body">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Title</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" data-bind="value: content_title, event: {keypress: contentChange}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Description</label>
                        <div class="col-sm-9">
                            <textarea class="form-control" rows="5" data-bind="event: {keypress: contentChange}, value: content_description" placeholder="briefly describe your course"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Delete</label>
                        <div class="col-sm-9">
                            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteUnitModal">Delete Unit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Delete Unit Modal -->
<div class="modal fade" id="deleteUnitModal" tabindex="-1" role="dialog" aria-labelledby="deleteUnitLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h3 class="modal-title" id="deleteUnitLabel">
                    Delete Unit
                </h3>
            </div>
            <div class="modal-body">
                <p class="lead">
                    Deleting a unit is a permanent action that will also delete all lessons associated with this unit. 
                </p>
                <p class="lead">
                    If you truly wish to delete this unit and all of its lessons, please type <strong>DELETE</strong> in the space below, then press the confirmation button. 
                </p>
                <p> 
                    <input type="text" class="form-control" data-bind="value: delete_confirm"></input>
                    <span class="text-danger" data-bind="if: delete_help">You must type <strong>DELETE</strong> correctly. </span>
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bind="click: deleteContent">Confirm Delete</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Nevermind</button>
            </div>
        </div>
    </div>
</div>
