<div class="col-sm-6">
    {% include 'edit_divs/shorthand_buttons.html' %}
    <textarea data-bind="value: current_lesson_body, valueUpdate: 'afterkeydown', event: {keypress: lessonChange}" class="col-sm-12 form-control inputContent" placeholder="type your lesson in this box" id="lesson-textarea"></textarea>
</div>
<div class="col-sm-6">
    <div class="row">
        <div class="col-sm-12">
            <div class="btn-group pull-right" id="lesson-panel-btn-group">
                <button class="btn btn-default" type="button" disabled>Formatted Lesson</button>
                <button class="btn btn-info" id="save-lesson-button" data-bind="click: saveLesson, enable: contentChangesDetected">save lesson</button>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-body lesson-div formatted-lesson" data-bind="html: formatted_lesson"></div>
    </div>
</div>



