<div class="btn-group">
    <button name="bold" type="button" class="btn btn-default shorthand-button">
        <strong>Bold</strong>
    </button>
    <button name="ital" type="button" class="btn btn-default shorthand-button">
        <em>Italic</em>
    </button>
    <button name="quote" type="button" class="btn btn-default shorthand-button">
        <i class="fa fa-quote-left text-muted"></i> Quote
    </button>
    <button name="bullets" type="button" class="btn btn-default shorthand-button">
        <i class="fa fa-list-ul"></i>
    </button>
    <button name="enums" type="button" class="btn btn-default shorthand-button">
        <i class="fa fa-list-ol"></i>
    </button>
    <button name="heading1" type="button" class="btn btn-default shorthand-button">
        <i class="fa fa-header fa-lg"></i>
    </button>
    <button name="heading2" type="button" class="btn btn-default shorthand-button">
        <i class="fa fa-header"></i>
    </button>
    <button name="heading3" type="button" class="btn btn-default shorthand-button">
        <small><i class="fa fa-header"></i></small>
    </button>
    <button name="link" type="button" class="btn btn-default shorthand-button">
        <i class="fa fa-link"></i>
    </button>
    
</div>