{% extends "base.html" %}

{% block body %}

{% include 'public_user_dropdown.html' %}

<div class="container marketing-container">
    <div class="col-md-8 col-md-offset-2">
        <div class="page-header text-center">
            <h1>About Lessonwell</h1>
        </div>
        <p class='lead'>I have been teaching in Fort Worth, TX for the last several years, and have always wanted a simpler way of putting my lessons online. I wanted a teacher website that didn't have a million features, something that was just easy to use. I also didn't want to spend time making the website look good - it should already be great looking, without any effort on my part</p>
        <p class='lead'>In the spring of 2013, I decided to create my own platform. That project has grown to what you see here today, on lessonwell.com. Lessonwell is my effort to provide fellow teachers with a dead-simple platform for hosting their lessons</p>
        <p class='lead'>I hope lessonwell saves you time and lets you focus on what we all appreciate you for: teaching our students. Thank you for all that you do, and thank you for your support of this little project of mine</p>
        <p class="pull-right lead"><strong>Quentin Donnellan</strong><br>Founder, <em>lessonwell</em></p>
    </div>
</div>    
{% endblock %}