{% extends "base.html" %}

{% block randomjs %}
<script data-main="static/js/edit_content" src="static/js/lib/require.js"></script>
{% endblock %}

{% block body %}
<meta id="teacher-data" data-teacherid="{{ active_user.key.id() }}">
<div class="edit-page content-page" style="display: none">
    <div class="edit-header col-sm-12">
        {% include 'edit_divs/edit_breadcrumbs.html' %}
    </div>
    <div data-bind="visible: lessonMode" class="edit-lesson-div">
        {% include 'edit_divs/edit_lesson.html' %}
    </div>
    <div data-bind="if: content_type() == 'course'">
        {% include 'edit_divs/edit_course.html' %} 
    </div>
    <div data-bind="if: content_type() == 'unit'">
        {% include 'edit_divs/edit_unit.html' %} 
    </div>
    <div data-bind="if: profileActive()">
        {% include 'edit_divs/edit_profile.html' %} 
    </div>
    <div data-bind="visible: newContent" id="new-content-div" style="display: none">
        {% include 'edit_divs/new_content.html' %}
    </div>
</div>

{% include 'loading_page.html' %}

{% endblock %}