{% extends "base.html" %}

{% block body %}
<meta id="teacher-data" data-teacher="{{user}}" data-teacherid="{{user.key.id()}}">
<div class="edit-page">
    <div class="edit-header col-sm-12">
        <div class="col-sm-6">
            {% include 'edit_divs/edit_breadcrumbs.html' %}
        </div>
    </div>
    <div data-bind="visible: lessonMode" class="edit-lesson-div">
        {% include 'edit_divs/edit_lesson.html' %}
    </div>
    <div data-bind="if: content_type() == 'course'">
        {% include 'edit_divs/edit_course.html' %} 
    </div>
    <div data-bind="if: content_type() == 'unit'">
        {% include 'edit_divs/edit_unit.html' %} 
    </div>
    <div data-bind="ifnot: content_type() || newContent">
        {% include 'edit_divs/edit_profile.html' %} 
    </div>
    <div data-bind="if: newContent">
        {% include 'edit_divs/new_content.html' %}
    </div>
</div>

<script src="{{url_for('static', filename='js/knockout-3.0.0.js')}}"></script> 
<script src="{{url_for('static', filename='js/markdown.js')}}"></script>
<script src="{{url_for('static', filename='js/format.js')}}"></script>
<script src="{{url_for('static', filename='js/edit-content.js')}}"></script>
<script "{{url_for('static', filename='js/highlight.min.js')}}"></script>
{% endblock %}