<div class="footer">
    <div class="container">
            <div class="footer-logo text-center">
                <p><span class="footer-lw">lw</span></p>
                <a href="/">lessonwell</a>
            </div>
            <dl class="footer-nav">
                <dt class="nav-title">ABOUT</dt>
                <dd class="nav-item"><a href="/about">The Company</a></dd>
                <dd class="nav-item"><a href="/terms">Terms of Service</a></dd>
                <dd class="nav-item"><a href="/privacy">Privacy Policy</a></dd>
            </dl>
            
            <dl class="footer-nav">
                <dt class="nav-title">HELP</dt>
                <dd class="nav-item"><a href="#">Getting Started</a></dd>
                <dd class="nav-item"><a href="#">Writing a Lesson</a></dd>
                <dd class="nav-item"><a href="#">Shortcuts</a></dd>
            </dl>

            <dl class="footer-nav">
                <dt class="nav-title">PRICING</dt>
                <dd class="nav-item"><a href="/pricing">Our Model</a></dd>
                <dd class="nav-item"><a href="/pricing/teacher">For Teachers</a></dd>
                <dd class="nav-item"><a href="/pricing/administrator">For Administrators</a></dd>
                <dd class="nav-item"><a href="#">For Schools (Coming Soon)</a></dd>
            </dl>
            <dl class="footer-nav">
                <dt class="nav-title">CONTACT</dt>
                <dd class="nav-item"><a href="#">Email Us</a></dd>
                <dd class="nav-item"><a href="#">Twitter</a></dd>
            </dl>
    </div>
    <div class="footer-copyright text-center">Copyright &copy; 2014 Lessonwell. All rights reserved.</div>

</div>