{% extends "base.html" %}
{% block body %}

{% include 'public_user_dropdown.html' %}

<div class="container">
    <div class="front-header text-center">
        <span class="front-logo">lw</span>
        <h1 class="front-brand">lessonwell</h1>
        <div class="col-sm-6 col-sm-offset-3">
            <p class='lead'>Automatically styled and organized lessons that look great on all your students' devices</p>
            <p class="lead">
                <a href="/sandbox" class="btn btn-default btn-lg">See How It Works</a>
                <a href="/link" class="btn btn-info btn-lg">Start For Free</a>

            </p>
        </div>
    </div>

</div>

{% endblock %}
