{% extends "base.html" %}



{% block body %}


<div class="container marketing-container">
    <div class="col-md-8 col-md-offset-2">
        <div class="page-header text-center">
            <h1>Lessonwell &amp; Google</h1>
        </div>

        <p class="lead">We use Google authentication for sign-in/sign-out in an effort to make your password management easier and more secure. Why does this matter to you?</p>
        <ol class="lead">
            <li>You don't have to remember a new username or password</li>
            <li>You don't have to worry about lessonwell losing your password (we never know what it is)</li>
            <li>Your account is secured by Google. This matters because <em>we are a tiny company with no cryptography experts on board!</em></li>
        </ol>

        <p class="lead">Any of the following Google Apps products will work properly with our system.</p>
        <ol class="lead">
            <li>Google Apps for Education</li>
            <li>Google Apps for Business</li>
            <li>Traditional Google Account (Gmail, Drive, etc.)</li>
        </ol>

        <p class="lead">Essentially, if you have access to Gmail, Drive, or any other google service that you log in to access, you may use that account to authenticate to lessonwell. </p>
       
    </div>
</div>    
{% endblock %}