{% extends "base.html" %}

{% block body %}

{% set googleUser = google_users_api.get_current_user() %}

<div class="container marketing-container">
    <div class="col-md-8 col-md-offset-2">
        <div class="page-header text-center">
            <h1>{% if googleUser %}Confirm{% else %}Link{% endif %} Google Account</h1>
        </div>
    
        {% if not googleUser %}

        <p class="lead">We use Google authentication for sign-in/sign-out in an effort to make your password management easier and more secure. Once you've linked your account, anytime you log into Google, you'll be logged into this website automatically.</p>
        <p class="lead">If you don't have a Google Account, you can <a href="https://accounts.google.com/SignUp" target="_blank">create one for free</a></p>
        <div class="text-center">
            <a href="{{google_users_api.create_login_url('/link')}}" class="btn btn-primary btn-lg">
                <i class="icon-link"></i> Link Google Account
            </a>
        </div>

        {% else %}
        <div>
            <h4 class="text-center">{{google_users_api.get_current_user().email()}}</h4>
            <p class="lead">Please confirm that this is the account you wish to associate with lessonwell. If you would rather use a different google account, log out of this google account; you will then be able to sign into a separate google acount
            </p>
            <div class="text-center">
                <a href="/signup" class="btn btn-primary btn-lg">Use this account</a>
                <a href="{{google_users_api.create_logout_url('/link')}}" class="btn btn-info btn-lg">Log out of this account</a>
            </div>
        </div> 
        {% endif %}   
    </div>
</div>      
{% endblock %}