{% extends "base.html" %}

{% block body %}

<div class="container marketing-container">
    <div class="col-md-10 col-md-offset-1">
        <div class="page-header text-center">
            <h1>This School Year, Give the Gift of Lessonwell</h1>
        </div>
        <div class="row">
            <p class='lead'><em>You can purchase multiple, year-long subscriptions that your teachers can use at absolutely no cost to them</em></p>
            <div class="text-center">
                <div class="pricing">
                    <ul>
                        <li class="unit price-primary">
                            <div class="price-title">
                                <h3>$420</h3>
                                <p>1 Year Package</p>
                            </div>
                            <div class="price-body">
                                <h4>5 Subscriptions</h4>
                                <p>$7 per teacher/month</p>
                                <ul>
                                    <li>Try it with a small group</li>
                                    <li>Unlimited Lessons</li>
                                    <li>Unlimited Courses</li>
                                </ul>
                            </div>
                            <div class="price-foot">
                                <a href="/administrator?subscriptions=5" type="button" class="btn btn-primary">Purchase</a>
                            </div>
                        </li>
                        <li class="unit price-success">
                            <div class="price-title">
                                <h3>$720</h3>
                                <p>1 Year Package</p>
                            </div>
                            <div class="price-body">
                                <h4>10 Subscriptions</h4>
                                <p>$6 per teacher/month</p>
                                <ul>
                                    <li>Better value</li>
                                    <li>Unlimited Lessons</li>
                                    <li>Unlimited Courses</li>
                                </ul>
                            </div>
                            <div class="price-foot">
                                <a href="/administrator?subscriptions=10" type="button" class="btn btn-success">Purchase</a>
                            </div>
                        </li>
                        <li class="unit price-warning active">
                            <div class="price-title">
                                <h3>$960</h3>
                                <p>1 Year Package</p>
                            </div>
                            <div class="price-body">
                                <h4>20 Subscriptions</h4>
                                <p>$4 per teacher/month</p>
                                <ul>
                                    <li>Best Value!</li>
                                    <li>Give to the Whole Department</li>
                                    <li>Unlimited Everything</li>
                                </ul>
                            </div>
                            <div class="price-foot">
                                <a href="/administrator?subscriptions=20" type="button" class="btn btn-warning">Purchase</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="row">
            <h2 class='text-center'>Why Lessonwell?</h2>
            <p class="lead text-center"><em>Lessonwell is an online lesson-writing platform that saves teacher time and effort. </em></p>
            <div class="col-sm-6">
                <div class="panel">
                    <div class="panel-body">
                        <h3 class="text-center">Automatic Formatting</h3>
                        <p>Teachers don't waste time choosing colors, fonts, sizes, margins, etc: we do all that for them. Instead, teachers focus on what they do best: <em>writing great content</em>
                        <p>Every lesson is formatted to look great on any mobile device to enhance student experience as well.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="panel">
                    <div class="panel-body">
                        <h3 class="text-center">Automatic Organization</h3>
                        <p>Teachers also don't have to worry about grouping their lessons into appropriate units or courses: lessonwell automatically organizes their lessons! Proper menus and page naviation are generated without any effort by the teacher.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="panel">
                    <div class="panel-body">
                        <h3 class="text-center">Not Complicated</h3>
                        <p>Unlike many content-management systems out there, lessonwell is not bogged down by a million bells and whistles. We do one thing, and we do it very well: <em>writing lessons</em></p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="panel">
                    <div class="panel-body">
                        <h3 class="text-center">Intuitive User Interface</h3>
                        <p>Many "made for teacher" platforms are just too confusing for the typical teacher to use effectively without training. Lessonwell is designed to be simple to use, and intuitive for even the least "tech savvy" user.</p>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>

{% endblock %}