{% extends "base.html" %}

{% block body %}

<div class="container marketing-container">
    <div class="col-md-10 col-md-offset-1">
        <div class="page-header text-center">
            <h1>Sponsorship Successful!</h1>
        </div>

        <div class="col-md-8 col-md-offset-2">
            <p class="lead">Awesome, you have sponsored 20 teachers for an entire year! Go you!</p>
            <p class='lead'>You should be receiving an email confirming your payment and containing instructions on how to redeem these subscriptions. If you have any questions please email us anyitme at: <a href="mailto:sponsor@lessonwell.com">sponsor@lessonwell.com</a></p>
        </div>
    </div>
</div>

{% endblock %}