{% extends "base.html" %}

{% block body %}

<div class="container marketing-container">
    <div class="col-md-4">
        <div class="thumbnail">
            <h1 class="text-center">
                <i class="text-green fa fa-user fa-3x"></i>
            </h1>
            <div class="caption">
                <h3 class="text-center">Individual Teachers</h3>
                <p>
                    Teachers can start using lessonwell <strong>aboslutely free</strong> for an entire month.
                </p>
                <p>
                    During this trial period they can request sponsorship from their administrator which will allow them to use lessonwell free for an entire year.
                </p>
                <p>
                    Teachers may also purchase lessonwell for a monthly subscription fee of $10. 
                <p>
                    <a href="/link" class="btn btn-info btn-block" role="button">
                        Create Teacher Account Today
                    </a>
                </p>
            </div>
        </div>

    </div>
    <div class="col-md-4">
        <div class="thumbnail">
            <h1 class="text-center">
                <i class="text-primary fa fa-users fa-3x"></i>
            </h1>
            <div class="caption">
                <h3 class="text-center">Administrators</h3>
                <p>
                    Administrators can purchase multiple year-long subscriptions for their teachers.
                </p>
                <p>
                    Teachers can use these subscriptions at absolutely no cost to themselves for an entire year.
                </p>
                <p>
                    Year-long subscriptions are available for as low at $4 per teacher per month, which is <strong>60% lower</strong> than the individual teacher price. 
                <p>
                    <a href="/administrator" class="btn btn-primary btn-block" role="button">
                        Purchase Multiple Subscriptions
                    </a>
                </p>
            </div>
        </div>

    </div>
    <div class="col-md-4">
        <div class="thumbnail">
            <h1 class="text-center">
                <i class="text-muted fa fa-university fa-3x"></i>
            </h1>
            <div class="caption">
                <h3 class="text-center">Schools</h3>
                <p>
                    If your school has a Google Apps account, you can install a custom instance of lessonwell for free. That's because lessonwell is <strong>open source</strong>.
                </p>
                <p>
                    Soon, we'll be releasing instructions on how to install lessonwell on your Google Apps account. 
                </p>
                <p>
                    Additionally, we can install lessonwell for you or host your custom instance ourselves for a yearly fee. Details coming soon...
                <p>
                    <a href="#" class="btn btn-default btn-block" role="button" disabled>
                        Coming Soon
                    </a>
                </p>
            </div>
        </div>

    </div>
</div>

{% endblock %}