{% extends "base.html" %}

{% block body %}

{% include 'public_user_dropdown.html' %}

<div class="container marketing-container">
    <div class="col-md-8 col-md-offset-2">
        <div class="page-header text-center">
            <h1>Privacy Policy</h1>
        </div>

        <h3>Committment to Privacy</h3> 
        <p>Even though lessonwell is a tiny company (at the time of writing this it was one person!) we approach privacy with the same seriousness as any of the largest websites out there. To better explain your privacy, I've provided this notice explaining what information I collect from you and how I use it.<p>
        <h3>What Information Does lessonwell Collect?</h3>
        <p>lessonwell directly collects your <strong>Name</strong>, <strong>Email-address</strong> (which is provided to us by Google when you link your Google account with lessonwell), and <strong>Google ID</strong> which we use to identify your account and subscriptions. </p>
        <p>We also collect your <strong>Credit Card Information</strong>, which is immediately handled by <a href="http://www.stripe.com">Stripe</a> and is never stored on our own servers</p>
        <h3>How We Use Your Information</h3>
        <p>We use your email address to identify you and to contact you if we discover issues with your account or subscription. </p>
        <p>We use your numeric Google ID to identify your stripe transactions</p>
        <p>We will never share this information with anyone, ever, with one exception: your email address is attached to transaction history (monthly subscriptions, buying course access, etc.) and secured on Stripe's servers. We do this in order to contact you with regards to important communications relating to your purchases.</p>
        <h3>Our Commitment to Children's Privacy</h3>
        <p>Protecting the privacy of the very young is especially important. For that reason, we never collect or maintain information at our website from those we actually know are under 13, and no part of our website is structured to attract anyone under 13.</p>
        <h3>Contact us</h3>
        <p>If you have any questions for us, especially concerning this privacy notice, please email us directly at <a href="mailto:admin@lessonwell.com">admin@lessonwell.com</a></p>
        
    </div>
</div>

{% endblock %}