{% extends "base.html" %}

{% block randomjs %}
<script data-main="static/js/profile" src="static/js/lib/require.js"></script>
{% endblock %}

{% block body %}

<meta id="teacher-data" data-teacher="{{teacher}}" data-teacherID="{{teacher.key.id()}}">
<div class="profile-page content-page" style="display: none">
    <div class="view-header col-sm-12">
        {% include 'view_divs/view_breadcrumbs.html' %}
    </div>
    <div data-bind="if: content_type() == 'user'">
        {% include 'view_divs/view_user.html' %}
    </div>
    <div data-bind="if: content_type() == 'course'">
        {% include 'view_divs/view_course.html' %}
    </div>
    <div data-bind="if: content_type() == 'unit'">
        {% include 'view_divs/view_unit.html' %}
    </div>
    <div data-bind="if: content_type() == 'lesson'">
        {% include 'view_divs/view_lesson.html' %}
    </div>
</div>
<div class="loading-page text-center">
    <h1><i class="fa fa-circle-o-notch fa-spin"></i></h1>
    <p class="lead">Loading...</p>
</div>


{% endblock %}
