{% extends "base.html" %}

{% block randomjs %}
<script data-main="static/js/signup" src="static/js/lib/require.js"></script>
{% endblock %}

{% block body %}

<div class="container marketing-container signup-page" style="display: none">

    {% set current_progress = 63 %}
    {% include 'progress_bar.html' %}

    <div class="page-header text-center">
        <h1>Personal Information</h1>
    </div>
    <div class="col-md-8">
        {% if error %}
        <div class="alert alert-danger">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>Oh snap!</strong> {{error}}
        </div>
        {% endif %}
        <form class="form-horizontal" method="post" action = '', id="payment-form">
            <div class="form-group">
                <label class="col-lg-2 control-label" for="inputFormalname">Your Name</label>
                <div class="col-lg-10">
                    <input type="text" id="inputFormalname" name="formalName"  class="form-control" data-bind="value: formal_name">
                </div>
            </div>
            <div class="form-group" data-bind="css: {'has-error': has_error, 'has-success': has_success}">
                <label class="col-lg-2 control-label" for="inputUsername">Username</label>
                <div class="col-lg-10">
                    <input type="text" id="inputUsername" name="username" class="form-control" data-bind="value: username, valueUpdate: 'afterkeydown'">
                    <span class="help-block" data-bind="if: error_msg">
                        <span data-bind="text: error_msg"></span>
                    </span>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label  col-lg-2" for="disabledInput">Email</label>
                <div class="col-lg-10">
                    <input class="input form-control" id="disabledInput" type="text" placeholder = "{{google_users_api.get_current_user().email()}}" disabled>
                    <span class="help-block">Your Google Account; we will only use this email to contact you if we have important information or issues concerning your account.
                </div>
            </div>

            <div class="form-group" data-bind="css: {'has-error': has_error}">
                <label class="control-label  col-lg-2" for="submitButton">Submit</label>
                <div class="col-lg-10">
                    <div data-bind="ifnot: error_msg">
                        <button type="button" class="btn btn-primary btn-lg" data-bind="click: createAccount" id="create-account-btn">
                            <span class="btn-waiting-text">
                                Create Account
                            </span>
                            <span class="btn-loading-text" style="display: none">
                                <i class="fa fa-circle-o-notch fa-spin"></i> 
                                Creating...
                            </span>

                        </button>
                        <span class="help-block" data-bind="if :server_msg">
                            <span class="text-danger" data-bind="text: server_msg"></span>
                        </span>
                        <span class="help-block">By submitting this information you acknowledge that you have read, and agree to abide by, the lessonwell <a href="/tos" target="_blank">Terms of Service</a></span>
                    </div>

                    <div class="help-block" data-bind="if: has_error">
                        You must fix the errors above before you can proceed
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="col-md-4">
        <div class="panel panel-primary">
            <div class="panel-heading">
                Free trial end date: <strong>{{trialEnd}}</strong>
            </div>
            <div class="panel-body">
                <p><strong>During your 30-day free trial you may use all of the features on lessonwell at absolutely no cost!</strong></p>
                <p>After your free trial period has expired if you wish to continue using lessonwell you may subscribe to the service for $10/month.</p>
                <p><a href="/sponsorships" target="_blank">Click here to learn more</a> about getting your administrator or supervisor to sponsor your subscription so that you can always use lessonwell for free!</p>
            </div>
        </div>
    </div>
</div>

{% include 'loading_page.html' %}   

{% endblock %}
