{% extends "base.html" %}

{% block body %}
<div class="content-div container">

    {% set current_progress = 100 %}
    {% include 'progress_bar.html' %}

    <div class="col-md-8 col-md-offset-2">
        <div class="page-header text-center">
            <h1>Welcome</h1>
            <p class="lead">You have successfully created a lessonwell account.<p>
        </div>
        <div>
            <div class="panel panel-default">
                <a href="/{{user.username}}" >
                    <div class="panel-body">
                        <div class="col-md-4 text-center">
                            <h1><i class="fa fa-user fa-2x text-green"></i></h1>
                        </div>
                        <div class='col-md-8'>
                            <h3 class="text-green">View your profile</h3>
                            <p class="lead text-muted">
                                Edit your personal information, cancel your subscription, add a course; it all happens from your profile page
                            </p>
                        </div>
                    </div>
                </a>
            </div>
            
        </div>
    </div>
</div>
{% endblock %}