{% if active_user %}
<li class="dropdown pull-right">
    <a href="#unit" class="dropdown-toggle" data-toggle="dropdown">
        {{ active_user.username }}
        <i class="fa fa-caret-down"></i>
    </a>
    <ul class="dropdown-menu" role="menu" id="user-dropdown">
        <li>
            <a href="/{{ active_user.username }}">
                <i class="fa fa-user"></i> Your Profile
            </a>
        </li>
        <li>
            <a href="/edit">
                <i class="fa fa-cog"></i> Account Settings 
            </a>
        </li>
        <li class="divider"></li>
        <li>
            <a href="{{ google_users_api.create_logout_url('/') }}">
                <i class="fa fa-power-off"></i> Sign Out
            </a>
        </li>
    </ul>
</li>
{% else %}
<li class="pull-right">
    <a href="{{ google_users_api.create_login_url('/') }}"> 
        <i class="text-green fa fa-sign-in"></i> Sign In 
    </a>
</li>
{% endif %}


