{% extends "base.html" %}
{% block stripe %}
        <!-- The required Stripe lib -->
        <script type="text/javascript" src="https://js.stripe.com/v1/"></script>

        <!-- jQuery is used only for this example; it isn't required to use Stripe -->
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

        <script type="text/javascript">
            // This identifies your website in the createToken call below
            Stripe.setPublishableKey("{{stripe_publish_key}}");

            var stripeResponseHandler = function(status, response) {
                var $form = $('#payment-form');

                if (response.error) {
                    // Show the errors on the form
                    $form.find('.payment-errors').text(response.error.message);
                    $form.find('button').prop('disabled', false);
                    } else {
                        // token contains id, last4, and card type
                        var token = response.id;
                        // Insert the token into the form so it gets submitted to the server
                        $form.append($('<input type="hidden" name="stripeToken" />').val(token));
                        // and re-submit
                        $form.get(0).submit();
                    }
                };

            jQuery(function($) {
                $('#payment-form').submit(function(e) {
                    var $form = $(this);

                    // Disable the submit button to prevent repeated clicks
                    $form.find('button').prop('disabled', true);

                    Stripe.createToken($form, stripeResponseHandler);

                    // Prevent the form from submitting with the default action
                    return false;
                });
            });
        </script>
{% endblock %}
{% block body %}
<header class="jumbotron subhead" id="overview">
  <div class="container">
    <h1>Support Your Teacher</h1>
    <p>Donate anonymously, let your teacher know they are appreciated</p>
  </div>
</header>
<br>
<div class="container">
	<div class="alert alert-error" style="display:{{alert.errorDisplay}}">
		<button type="button" class="close" data-dismiss="alert">&times;</button>
		<strong>Oh snap!</strong>{{alert.errorMsg}}
	</div>
	{% if totalDonation >= 36000 %}
	<div class="marketing">
		<section id="first">
			<h1>Maximum Donation Reached!</h1>
			<p class="marketing-byline">Whoa, you guys really like this teacher! Currently they have received the maximum allowable donation. We're sure you can find other ways to show your appreciation,  or just come back in a few months and see if you can donate then! </p>
		</section>
	</div>
	{% else %}
	<div class="marketing">
		<section id="first">
			<h1>Donate via Card</h1>
			<p class="marketing-byline">Please enter a valid payment card to submit a donation. All donations are completely anonymous and a great way to show your teacher that 'someone out there cares'</p>
			<p>After we have successfully charged your card, we will credit your teacher's account with the donation amount. These credits will allow your teacher to use lessonwell at a lower cost, or even for free (if they get enough donations!)</p>
			<hr>
		</section>
	</div>
	<div class="row-fluid">
		<form class="form-horizontal span12" id="payment-form" method="post" action="">
			<div class="control-group">
                <label class="control-label">Teacher to Support: </label>
                <div class="controls">
                	<input class="input" id="disabledInput" type="text" placeholder = "{{user.formalName}}" disabled>
                </div>
            </div>
			<div class="control-group">
                <label class="control-label">Donation Amount</label>
                <div class="controls">
					<label class="radio">
						<input type="radio" name="optionsRadios" id="optionsRadios1" value="500" checked>
						$5.00
					</label>
					<label class="radio">
						<input type="radio" name="optionsRadios" id="optionsRadios2" value="1000">
						$10.00
					</label>
					<label class="radio">
						<input type="radio" name="optionsRadios" id="optionsRadios3" value="2000">
						$20.00
					</label>
					<label class="radio">
						<input type="radio" name="optionsRadios" id="optionsRadios4" value="5000">
						$50.00
					</label>
				</div>
			</div>
			<div class="control-group">
				<div class="controls">
					<strong><span class="payment-errors text-error"></span></strong>
				</div>
			</div>
			<div class="control-group">
                <label class="control-label">Name on Card: </label>
                <div class="controls">
                    <input type="text" name="c-exp-month" data-stripe="name" placeholder="Your full name" >
                </div>
            </div>
			<div class="control-group">
                <label class="control-label">Card Number: </label>
                <div class="controls">
                    <input type="text" data-stripe="number" name="c-number" placeholder="&bull;&bull;&bull;&bull; &bull;&bull;&bull;&bull; &bull;&bull;&bull;&bull; &bull;&bull;&bull;&bull;">
                    <span class="help-block"><span class="muted">Numbers only, no spaces or hyphens</span></span>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">Expiration Date: </label>
                <div class="controls">
                    <input type="text" class="input-mini" name="c-exp-month" data-stripe="exp-month" placeholder="MM" >
                    <input type="text" class="input-mini" name="c-exp-year" data-stripe="exp-year" placeholder="YYYY">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">Security Code: </label>
                <div class="controls">         
                    <input type="text" class="input-small" data-stripe="cvc"  name="c-cvc" placeholder="CVC code">          
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    <button type="submit" name="updateUser" class="btn btn-primary">Submit Donation</button>
                    <a href="http://www.stripe.com" target="_blank">
                    <img src="/images/stripe_logo.png" class="pull-right">
                    </a>     
                </div>            
            </div>
		</form>	
	</div>
	{% endif %}
</div>

{% endblock %}