{% extends "base.html" %}
{% import 'common.html' as common with context %}

{% block side_list %}
<ul class="side-list" > 
	{{ common.course_link() }}
	{% if unit is none %}
	<li class="active">
	  <a href="#" class="unit-link">
	    <p>Add Unit</p>
	  </a>
	</li>
	{% else %}
	<li>
		<a class="unit-link unit-active" data-toggle="tab" href="/{{user.username}}/course{{course.key.id()}}/unit{{unit.key.id()}}" >
			<p><i class="icon-caret-down"></i> {{unit.title}}</p>
		</a>
	</li>
	<li class="active">
	  <a href="#" class="lesson-link">
	    <p> Edit Unit</p>
	  </a>
	</li>
	{% endif %}
</ul>
{% endblock %}

{% block body %}

{% if status == True %}
<div class="container">
	<div class="page-header">
		<h1>Unit Information</h1>
	</div>
	<form class="form-horizontal" method="post">
		<div class="form-group">
			<label class="control-label col-lg-2" for="inputUnitName">Unit Name</label>
			<div class="col-lg-10">
				<input type="text" id="inputUnitName" name="unitName" value ="{{unit.title}}" class="form-control">
				<span class="help-block">Your units will be ordered alphabetically by their names (numbers first, then capital letters, then lowercase)</span>
			</div>
		</div>
		<div class="form-group">
			<label class="control-label col-lg-2" for="inputDescription">Description</label>
			<div class="col-lg-10">
				<input class="form-control" type="text" id="inputDescription" name="description" value ="{{unit.body}}">
				<span class="help-block">Give your new unit a good description</span>
			</div>
		</div>
		<div class="form-group">
			<div class="col-lg-10 col-lg-offset-2">
				<button type="submit" class="btn btn-primary">Save Changes</button>
			</div>
		</div>
		{% if unit is not none %}
			<div class="form-group">
				<label class="control-label col-lg-2">Delete Unit</label>
				<div class="col-lg-10">
					<input type="text" id="should_delete" name="should_delete" class="form-control">
					<span class="help-block">You can delete this unit and all associated lessons forever by: 
						<ol>
							<li>deleting both the unit title and unit description <strong>AND</strong></li>
							<li>typing <span class="text-danger"><strong>Delete</strong></span> in the box above (capitalization is important)</span></li>
							<li>Click "Save Changes" above</li>
						</ol>`
					<span class="help-bloc text-danger"><strong>Deleting your content is permanent.</strong></span>
				</div>
			</div>
		{% endif %}
	</form>	
</div>
{% else %}
	<div class="container">
		<div class="marketing">
			<h1>Woops!</h1>
			<p class="marketing-byline">You can't add any more units to this course!<p>
				<hr class='soften'>
			<h1>Upgrade today</h1>
			<p class="marketing-byline">Go to your profile, and upgrade your subscription to <strong>Basic</strong> to create unlimited units in your course</p>
			    <p><a class="btn btn-warning btn-large" href="/pricing "><i class="icon-edit icon-white icon-circle-arrow-up"></i> Upgrade Today</a>
			    </p>
		</div>	
	</div>
{% endif %}

{% endblock %}