{% extends "base.html" %}

{% block side_list %}

	<ul class="side-list">
		<li>
		<a class="course-link" href="#"><p><i class="icon-caret-down"></i> Edit Account</p></a>
		</li>
	</ul>

<div class="tabbable" >
	<ul class="side-list">
		<li class="active">
			<a class="lesson-link " data-toggle="tab" href="#personal-information">
				<p>Personal Information</p>
			</a>
		</li>
		<li>
			<a class="lesson-link " data-toggle="tab" href="#manage-subscription">
				<p>Manage Subscription</p>
			</a>
		</li>
		<li>
			<a class="lesson-link " data-toggle="tab" href="#seller-settings">
				<p>Sell Courses</p>
			</a>
		</li>
	</ul>
</div>

{% endblock %}

{% block body %}


<div class="container">	
	<div class="alert alert-error" style="display:{{alert.errorDisplay}}">
		<button type="button" class="close" data-dismiss="alert">&times;</button>
		<strong>Oh snap!</strong>{{alert.errorMsg}}
	</div>
	<div class="row">
		<div class="tab-content pageContents">
			<div class="tab-pane active fade in" id="personal-information">
				<div class="page-header">
					<h1>Edit Account: Personal Information</h1>
				</div>

				<div>
					<form class="form-horizontal" method="post">
						<div class="form-group">
							<label class="control-label col-lg-2" for="inputFormalname">Your Name</label>
							<div class="col-lg-10">
								<input class="form-control" type="text" id="inputFormalname" name="formalName" value="{{localUser.formalName}}">
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-lg-2" for="inputTag">Tagline</label>
							<div class="col-lg-10">
								<input class="form-control" type="text" id="inputTag" name="tagline" value = "{{localUser.tagline}}">
								<span class="help-block"><span class="muted">"A teacher of awesome things", or whatever</span>					
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-lg-2" for="inputBio">Bio</label>
							<div class="col-lg-10">
								{% if localUser.bio in [none, '', 'None'] %}
									<textarea id="inputBio" class="form-control" name="bio" rows="8" placeholder="nothing here yet"></textarea>
								{% else %}
									<textarea id="inputBio" class="form-control" name="bio" rows="8" >{{localUser.bio}}</textarea>
								{% endif %}
								<span class="help-block"><span class="muted">Write something interesting about yourself. This field uses our <a href="/help/shorthand">shorthand</a></span>					
							</div>
						</div>					
						<div class="form-group">
							<label class="control-label col-lg-2" for="inputEmail">Email</label>
							<div class="col-lg-10">           
	              <input class="form-control" id="inputEmail" type="text" placeholder = "{{localUser.user.email}}" disabled>  
		          </div>
						</div>
						<div class="form-group">
							<label class="control-label col-lg-2" for="inputUsername">Username</label>
							<div class="col-lg-10">           
	              <input class="form-control" id="inputUsername" type="text" placeholder = "{{localUser.user.username}}" disabled>            
	            	<span class="help-block"><span class="muted">Currently, you cannot change your email address or username. We will only use this email to contact you if we have important information or issues concerning your account. </span></span>
		          </div>
						</div>

						<div class="form-group">
							<div class="col-lg-10 col-lg-offset-2">
								<button type="submit" class="btn btn-primary" name="savePersonal">Save Changes</button>
							</div>
						</div>
					</form>
				</div>				

			</div>
			<div class="tab-pane fade" id="manage-subscription">

				<div class="page-header">
					<h1>Edit Account: Manage Subscription</h1>
				</div>
				<form class="form-horizontal">
					<div class="form-group">
						<label class="control-label col-lg-2" for="inputCurrentSub">Current Subscription</label>
						<div class="col-lg-4">
							{% if localCustomer.exists %}
							<input class="form-control" type="text" id="inputCurrentSub" disabled 
								value="{{localCustomer.customer.subscription.plan.name.capitalize()}}, ${{localCustomer.planAmount}}/month">
							<span class="help-block">
								{% if localCustomer.customer.subscription.plan.id == 'free' %}
									<a href="/sign_up/plus?upgrade=true"><i class="icon-arrow-circle-up"></i> <strong>Upgrade to Plus</strong> for unlimited courses, no ads, and the ability to sell your courses</a>
								{% else %}
									<a href="/sign_up/free?upgrade=true"><i class="icon-arrow-circle-down"></i> Downgrade to Free Subscription</a>
								{% endif %}
							</span>
							{% endif %}
						</div>
					</div>
				</form>
				<form class="form-horizontal">
					<div class="form-group">
						<label class="control-label col-lg-2" for="inputCard">Card on File</label>
						<div class="col-lg-4">
							{% if localCustomer.exists %}
								{% if localCustomer.customer.active_card is not none %}                        
                   <input id="inputCard" class="form-control" type="text" placeholder = "&bull;&bull;&bull;&bull; &bull;&bull;&bull;&bull; &bull;&bull;&bull;&bull; {{localCustomer.customer.active_card.last4}}" disabled>                          
	        			{% else %}
	        				<input id="inputCard" class="form-control" type="text" placeholder = "NO CARD ON FILE" disabled>
	        			{% endif %}
	        			{% if localCustomer.customer.delinquent %}
		        			<span class="help-block"><span class="text-danger">
		        				Your current card is invalid, please update your card
		        			</span></span>
	        			{% endif %}
							{% endif %}
							<span class="help-block"><a href="/change_card"><i class="icon-credit-card"></i> Update Credit Card</a></span>
						</div>
					</div>
				</form>

				{% if localCustomer.exists %}
				<form class="form-horizontal">
					{% if localCustomer.expiredTrial == False %}
						<div class="form-group">
							<label class="control-label col-lg-2" for="inputCurrentTrial">Trial Period</label>
							<div class="col-lg-4">
								<input class="form-control" type="text" id="inputTrial" disabled 
									value="Expires on {{localCustomer.trialEnd}}">
								<span class="help-block"><span class="muted">
									{% if localCustomer.customer.subscription.plan.id == 'free' %} You're currently on the free plan so not much will change when the trial expires.{% endif %}
								</span></span>
							</div>
						</div>
					{% endif %}

					
						<div class="form-group">
							<label class="control-label col-lg-2" for="inputCoupon">Active Coupon</label>
							<div class="col-lg-4">
								{% if localCustomer.customer.discount.coupon %}
								<div class="coupon-block text-info">
									<i class="icon-barcode pull-left icon-4x"></i>
									<p>{{localCustomer.customer.discount.coupon.percent_off}}% discount for 									
										{% if localCustomer.customer.discount.coupon.duration == 'forever' %}
											as long as you use lessonwell. This coupon will never expire!
										{% elif localCustomer.customer.discount.coupon.duration == 'repeating' %}
											{{localCustomer.customer.discount.coupon.duration_in_months}} months. Expires: 
											{{datetime.datetime.fromtimestamp(localCustomer.customer.discount.end).strftime("%B %d, %Y")}}
										{% elif localCustomer.customer.discount.coupon.duration == 'once' %}
											one month. Expires {{datetime.datetime.fromtimestamp(localCustomer.customer.discount.end).strftime("%B %d, %Y")}}
										{% endif %}
									</p>
								</div>
								{% else %}
									<input class="form-control" type="text" id="inputCouponActive" disabled 
									value="no active coupons">
								{% endif %}
							</div>
						</div>
					
				</form>
				{% endif %}
				{% if not localCustomer.customer.discount.coupon %}
				<div class="row">

					<form class="form-inline col-lg-6 col-lg-offset-2" role="form" method="post">
						<div class="form-group">
							<input type="text" name="coupon_code" class="form-control" placeholder="enter coupon code">
						</div>
						<div class="form-group">
							<button class="btn btn-success form-control" type="submit" name="redeem">Redeem</button>
						</div>
					</form>
				</div>
				{% endif %}
				<div class="row">
					<div class="col-lg-6 col-lg-offset-2 text-danger">
						{% if coupon_error %}
							<p>{{coupon_error}}</p>
						{% endif %}
					</div>
				</div>		
			</div>
			<div class="tab-pane fade" id="seller-settings">

				<div class="page-header">
					<h1>Edit Account: Seller Settings <a href="http://manage.stripe.com" class='pull-right'><img src="/img/stripe_logo.png"/></a></h1>
				</div>

				<div>
					{% if monetize %}
					<section>
						{% if localCustomer.customer.subscription.plan.id not in ['max', 'plus', 'basic'] %}
							<div class="row-fluid">
								<div class="marketing">
									<div class="well">
										<p>Selling your lessons is only available with the Plus subscription plan. </p>
										<p><a href="/pricing" class="btn btn-warning"><i class="icon-circle-arrow-up"></i> Upgrade Now</a></p>
									</div>
								</div>
							</div>
						{% else %}
							{% if localUser.user.stripe_access_token in [none, ''] %}
								<p>Set up course monetization by connecting to <strong>stripe</strong> below. Once you've set up a stripe account, you'll be able to set an access price for each of your courses. Learn more about making money with lessonwell <a href="/help/selling">by clicking here</a> </p>
								<p><strong>If you are returing here from the Stripe Connect page, you may have to refresh your browser to see the confirmation page</strong></p>
								<br>
								<p class="marketing"><a href="{{connect_url}}"><img src="/img/stripe_light.png"></a></p>
							{% else %}
								<p>Congratulations, you have successfully set up and linked your stripe account with lessonwell. You may now start selling your lessons! Your next step is to go to the individual courses you want to sell access to, and set an access price. </p>
							{% endif %}
						{% endif %}
					</section>
					{% endif %}
				</div>			
			</div>
		</div>
	</div>

</div>



{% endblock %}