{% extends "base.html" %}
{% import 'common.html' as common with context %}

{% block side_list %}

  
  <div class="tabbable" >
		<ul class="side-list">
			{% if course != none %}
				{{ common.course_link() }}

			  <li>
			  	<a href="#"  class="unit-link">
			  		<p><i class="icon-caret-down"></i> Edit Course</p>
			  	</a>
			  </li>
				<li {% if panel in ['info', '', none] %}class="active"{% endif %}>
					<a href="#course-information" data-toggle="tab" class="lesson-link"><p>Basic Information</p></a>
				</li>						
				<li {% if panel == 'standards' %}class="active"{% endif %}>
					<a href="#course-standards" data-toggle="tab" class="lesson-link"><p>Learning Standards</p></a>
				</li>
				
				<li {% if panel == 'access' %}class="active"{% endif %}>
					<a href="#course-access" data-toggle="tab" class="lesson-link"><p>Course Access</p></a>
				</li>
				{% if monetize %}
				<li {% if panel == 'sell' %}class="active"{% endif %}>
					<a href="#sell-access" data-toggle="tab" class="lesson-link"><p>Sell Your Course</p></a>
				</li>
				{% endif %}
  		{% else %}
			  <li>
			  	<a href="#"  class="course-link">
			  		<i class="icon-caret-down"></i> New Course
			  	</a>
			  </li>
			  <li {% if panel in ['info', '', none] %}class="active"{% endif %}>
					<a href="#course-information" data-toggle="tab" class="unit-link"><p>Basic Information</p></a>
				</li>						
				<li {% if panel == 'standards' %}class="active"{% endif %}>
					<a href="#course-standards" data-toggle="tab" class="unit-link"><p>Learning Standards</p></a>
				</li>
  		{% endif %}
		</ul>
	</div>
{% endblock %}

{% block body %}

{% if status == True %} <!-- checks to see if user is allowed to add any more courses -->
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="tab-content pageContents">
					<div class="tab-pane {% if panel in ['info', '', none] %}active{% endif %} fade in" id ="course-information">
						<div class="page-header">
							<h1>{% if course != none %}Edit Course:{% else %}Add Course:{% endif %} Basic Information</h1>
						</div>
						<form class="form-horizontal" method="post" enctype="multipart/form-data" action="{{upload_url}}" role="form">

						  <div class="form-group">
						    <label for="inputCourseName" class="col-lg-2 control-label">Course Title</label>
						    <div class="col-lg-10">
						      {% if course is none %}
										<input type="text" id="inputCourseName" name="courseName" class="form-control">
									{% else %}
										<input type="text" id="inputCourseName" name="courseName" value = "{{course.title}}" class="form-control">
									{% endif %}		
						    </div>
						  </div>
							<div class="form-group">
								<label class="col-lg-2 control-label" for="inputDescription">Description</label>
								<div class="col-lg-10">
									{% if course is none %}
										<input class="form-control" type="text" id="inputDescription" name="description" >
									{% else %}
										<input class="form-control" type="text" id="inputDescription" name="description" value = "{{course.body}}">
									{% endif %}
									<span class="help-block"><span class="muted">Give your new course a good description (no more than 200 characters, including spaces)</span></span>
								</div>
							</div>
							<div class="form-group">
								<div class="col-lg-10 col-lg-offset-2">
									<label class="checkbox">
				  					<input type="checkbox" name = "course_listed" value="listed" {% if course.listed == 'listed' %}checked{% endif %}>
				  					<span class="text-info">Listed</span>
				  				</label>
			  					<p class="muted help-block">Your course will be listed in our catalog, to be viewed by anyone with access. Even private courses may be listed (especially if you are charging an access fee, this is a great way to advertise on our platform</p>
									
								</div>
							</div>
							<div class="form-group">
								<div class="col-lg-10 col-lg-offset-2">
									<label class="checkbox">
				  					<input type="checkbox" name = "course_privacy" value="true" {% if course.privacy == 'private' %}checked{% endif %}>
				  					<span class="text-error">Private</span>
				  				</label>
			  					<p class="help-block muted">Your students will be required to log in with their Google Accounts and then request permission to view your course. You may revoke any student's access at anytime. You may also change the course's privacy settings at any time</p>
									
								</div>
							</div>
							<div class="form-group">
								<div class="col-lg-10 col-lg-offset-2">
									<button type="submit" class="btn btn-primary" name="save_changes">Save Changes</button>
								</div>
							</div>
						</form>				
					</div>
					<div class="tab-pane fade in {% if panel == 'standards' %}active{% endif %}" id ="course-standards">
						<div class="page-header">	
							<h1>{% if course != none %}Edit Course:{% else %}Add Course:{% endif %} Learning Standards</h1>	
						</div>
						<div>
							<!-- include 'standards_tabs.html' --> Coming Soon
						</div>
					</div>
					{% if course != none %}
						{% if course.privacy != 'private' %}
							<div class="tab-pane fade in {% if panel == 'access' %}active{% endif %}" id ="course-access">
								<div class="page-header">
									<h2 ><i class="icon-key"></i> Course Access<small> individually grant access</small></h2>
								</div>
								<p class="col-lg-8">Your course is currently listed as <strong>public</strong>. If you want only certain individuls to access your course, you must mark your course as <strong>private </strong> on the <a href="#course-information" data-toggle="tab" class="lesson-link">Basic Information page</a></p>
							</div>

						{% else %}
							<div class="tab-pane fade in {% if panel == 'access' %}active{% endif %}" id ="course-access">
								<div class="page-header">
									<h2 ><i class="icon-key text-theme"></i> Course Access<small> individually grant access</small></h2>
								</div>
								<p>Your course is currently listed as <strong>private</strong>, therefore only approved students may view your course. Students who wish to view your course will be prompted to log in with their Google Accounts and then request access. You may manage who is allowed to see your courses below</p>
								<div class="row-fluid">
										<h4>Approving, Denying, Deleting Requests</h4>
										<p>You may choose to approve or deny any student who requests access; you may change your decision at any time. Once a Google Account has been approved or denied access to your course, we will always remember that decision unless you change that decision below. A student who has been denied access cannot re-request access (unless that decision is deleted by you). </p>
								</div>
								<div class="well">
									<h4>Protect Course with a passphrase</h4>
									<p>Only requests with the correct passphrase will make their way to your approval. Feel free to change this passphrase at any time, pending and confirmed requests won't be affected by changes in the passphrase. <span class="muted">Leave blank if you don't want to protect with a passphrase</span></p> 
									<form method="post" class="form-inline">
										<input type="text" name="passphrase" placeholder="(no passphrase set)" {% if course.passphrase is not none %}value="{{course.passphrase}}"{% endif %}>
										<button class="btn btn-success" type="submit" name="set_passphrase"><i class="icon-key"></i> Save Passphrase</button>
									</form>
								</div>
								<h3>Pending Requests</h3>
								<table class="table">
					        <thead>
					          <tr>
					            <th>Name</th>
					            <th>Email</th>
					            <th>Status</th>
					            <th>Action</th>
					          </tr>
					        </thead>
					        <tbody>                  
										{% for user in approved_users %}
											{% if user.status == 'pending' %}
											<tr class="warning">
						            <td>{{user.formalName}}</td>
						            <td>{{user.email}}</td>
						            <td>{{user.status}}</td>
						            <td>
						            	<a class="btn btn-small btn-success" href="/approval/{{course.key.id()}}/{{user.googleID}}/approved">Approve</a> 
						            	<a class="btn btn-small btn-danger" href="/approval/{{course.key.id()}}/{{user.googleID}}/denied">Deny</a>
						            	<a class="btn btn-small text-warning" href="/approval/{{course.key.id()}}/{{user.googleID}}/delete">Delete</a>
						            </td>
						          </tr>
						          {% endif %}
										{% endfor %}
									</tbody>
					      </table>
					      <h3>Confirmed Requests</h3>
								<table class="table">
					        <thead>
					          <tr>
					            <th>Name</th>
					            <th>Email</th>
					            <th>Status</th>
					            <th>Action</th>
					          </tr>
					        </thead>
					        <tbody>                  
										{% for user in approved_users %}
											{% if user.status == 'approved' %}
												<tr class="success">
							            <td>{{user.formalName}}</td>
							            <td>{{user.email}}</td>
							            <td class="text-success"><i class="icon-ok"></i> {{user.status}}</td>
							            <td>
							            	<a class="btn btn-small text-error" href="/approval/{{course.key.id()}}/{{user.googleID}}/denied">Revoke Access</a>
							            	<a class="btn btn-small text-warning" href="/approval/{{course.key.id()}}/{{user.googleID}}/delete">Delete</a>
							            </td>
							          </tr>
						         	{% endif %}
					         	{% endfor %}
					         	{% for user in approved_users %}
											{% if user.status == 'denied' %}
							          <tr class="error">
							            <td>{{user.formalName}}</td>
							            <td>{{user.email}}</td>
							            <td class="text-error"><i class="icon-ban-circle"></i> {{user.status}}</td>
							            <td>		            	
							            	<a class="btn btn-small text-success" href="/approval/{{course.key.id()}}/{{user.googleID}}/approved">Change to Approved</a>
							            	<a class="btn btn-small text-warning" href="/approval/{{course.key.id()}}/{{user.googleID}}/delete">Delete</a>
							            </td>
							          </tr>
						          {% endif %}
										{% endfor %}
									</tbody>
					      </table>
					    </div>
					    {% endif %}
					    {% if monetize %}
					    {% if course.privacy != 'private' %}
					    <div class="tab-pane fade in {% if panel == 'access' %}active{% endif %}" id ="sell-access">
								<div class="page-header">
									<h2 ><i class="icon-credit-card"></i> Sell Access To Course<small> make money on the lessons you create</small></h2>
								</div>
								<p class="col-lg-8">Your course is currently listed as <strong>public</strong>. If you want to sell access your course, you must mark your course as <strong>private </strong> on the <a href="#course-information" data-toggle="tab" class="lesson-link">Basic Information page</a></p>
							</div>
					    {% else %}
					    <div class="tab-pane fade in {% if panel == 'sell' %}active{% endif %}" id ="sell-access">
								<div class="page-header">
									<h2><i class="icon-credit-card text-theme"></i> Sell Access to Course<small> make money on the lessons you create</small></h2>
								</div>
								{% if customer.plan not in ['max', 'plus', 'basic'] %}
									<div class="row-fluid">
										<div class="marketing">
											<div class="span6 offset3 well">
												<p>Selling your lessons is only available with the Plus subscription plan. </p>
												<p><a href="/sign_up/plus?upgrade=true" class="btn btn-warning"><i class="icon-circle-arrow-up"></i> Upgrade Now</a></p>
											</div>
										</div>
									</div>
								{% else %} <!-- customer plan is not max or plus -->
									{% if localUser.user.stripe_access_token in [none, ''] %}
										<p class="lesson-content">Before you can start selling access, you'll need to register with our payment processor, <strong>stripe</strong>, below. </p>
										<br>
										<p class="marketing">
											<a href="{{connect_url |safe}}">
												<img src="/img/stripe_light.png">
											</a> 
										</p>
									{% else %}
										<form method="post" class="form-horizontal" >
											<div class="control-group {% if amount_error not in [none, ''] %}error{% endif %}">
												<label class="control-label">Set Access Price (USD) </label>
												<div class="controls">
													<div class="input-prepend input-append">
													  <span class="add-on">$</span>
													  <input class="input-mini" id="appendedPrependedInput" name="access_amount" type="text" {% if access_amount is not none %}value="{{access_amount}}"{% endif %}>
													  <span class="add-on">.00</span>
													</div>
													{% if amount_error not in [none, ''] %}
														<span class="help-inline"><strong class="text-error">You did not use an integer-only amount!</strong></span>
													{% endif %}
													<span class="help-block"><span class="muted">Only enter an integer amount. Leave this blank to make course free</span></span>
												</div>
											</div>
											<div class="control-group">
												<div class="controls">							
													<p><button class="btn btn-success" type="submit" name="setup_money">Set Access Price</button></p>
													<span class="help-block"><span class="muted">By clicking "set access price" you acknowledge that any person who pays the access price will have access to your lessons. You also acknowledge that each time someone purchases access to your course <strong>stripe</strong> will collect a processing fee of 2.9% + 30 cents and <strong>lessonwell</strong> will collect a fee of 7%.</span></span>
												</div>
											</div>
											<div class="well marketing">
														<p class="muted">Please visit <a href="http://manage.stripe.com">stripe</a> to see the detailed purchase history for your courses</p>
											</div>
										</form>
									{% endif %} <!-- end stripe if -->
								{% endif %} <!-- end customer plan if -->
							</div>
							{% endif %}	 <!-- end monetize if -->
			      {% endif %} <!-- end course.private if -->
		      {% endif %}	<!-- end course == none if -->	

				</div>
			</div>
		</div>
	</div>
{% else %}
	<div class="container">
		<div class="lesson-content">
			<h1>Woops!</h1>
			<p class="lead">You can't add any more courses!<p>
				<hr class='soften'>
			<h1>Upgrade today</h1>
			<p>If you would like to create more courses on lessonwell, please consider upgrading to the <strong>Plus</strong> plan.
			<p>
				<a class="btn btn-warning btn-large" href="/sign_up/plus?upgrade=true "><i class="icon-edit icon-white icon-circle-arrow-up"></i> Upgrade Today</a>
	    </p>
		</div>	
	</div>
{% endif %}
{% endblock %}


