{% extends "base.html" %}

{% block side_list %}
<ul class="side-list">
  <li class="active">
    <a class="course-link" href="#"><i class="icon-caret-down"></i> Help Documents</a>
  </li>
  <li>
    <a class="unit-link" href="/help/getstarted"><p><i class="icon-caret-right"></i> Getting Started</p></a>
  </li>
  <li>
    <a class="unit-link" href="/help/shorthand"><p><i class="icon-caret-right"></i> Shorthand</p></a>
  </li>
  <li>
    <a class="unit-link" href="/help/selling"><p><i class="icon-caret-right"></i> Selling Your Lessons</p></a>
  </li>
</ul>


{% endblock %}


{% block body %}

<div class="container">
  <div class="page-header">
    <h1>Help</h1>
  </div>
  <div class="row help-blocks">
    <div class="col-lg-4">
      <h1><i class="icon-play-sign text-warning"></i></h1>
      <h2>Getting Started</h2>
      <p class="marketing-byline">Learn how to use the lessonwell platform from the basics: creating your first course</p>
      <a class="btn btn-primary" href="/help/getstarted">Get Started Today</a>
      
    </div>
    <div class="col-lg-4">
      <h1><i class="icon-bolt text-theme"></i></h1>
      <h2>Shorthand</h2>
      <p class="marketing-byline">Quickly type up great looking lessons with the aid of our powerful shorthand</p>
      <a class="btn btn-primary" href="/help/shorthand">Learn The Shorthand</a>
      
    </div>
    <div class="col-lg-4">
      <h1><i class="icon-money text-success"></i></h1>
      <h2>Selling Your Lessons</h2>
      <p class="marketing-byline">Link your account to Stripe and start charging for access to your courses</p>
      <a class="btn btn-primary" href="/help/selling">Learn About Selling</a>
      
    </div>
  </div>

</div>


{% endblock %}