{% extends "base.html" %}

{% block side_list %}

<ul class="side-list">
  <li>
    <a class="course-link" href="/help"><i class="icon-caret-down"></i> Help Documents</a>
  </li>
</ul>

{% if doctype == 'selling' %}
  {% set doc_title = 'Sell Your Lessons' %}
{% elif doctype == 'shorthand' %}
  {% set doc_title = 'Shorthand' %}
{% elif doctype == 'getstarted' %}
  {% set doc_title = 'Getting Started' %}
{% endif %}

<div class="tabbable" >
  <ul class="side-list">
    <li class="completed-step">
      <a class="unit-link"><p><i class="icon-caret-down"></i> {{doc_title}}</p></a>
    </li>
    {% for doc in allDocs %}
      <li {% if loop.first %}class="active"{% endif %}>
        <a class="lesson-link" href="#doc{{doc.id}}" data-toggle="tab">
          <p>{{doc.title}}</p>
        </a>
      </li>
    {% endfor %}
  </ul>
</div>

{% endblock %}

{% block body %}

{% if doctype == 'selling' %}
  {% set doc_title = 'Sell Your Lessons' %}
{% elif doctype == 'shorthand' %}
  {% set doc_title = 'Shorthand' %}
{% elif doctype == 'getstarted' %}
  {% set doc_title = 'Getting Started' %}
{% endif %}

<div class="container">	
	<div class="row">
		<div>
			<div class="tab-content pageContents">
				{% for doc in allDocs %}
				<div class="tab-pane fade {% if loop.first %}active in{% endif %}" id ="doc{{doc.id}}">
					<div class="page-header">
						<h1>{{doc.title}}
								{% if admin %}
                  <div class="pull-right">
                    <a class=" btn btn-primary" href="/edit_docs/{{doctype}}/{{doc.id}}">edit helpdoc</a>
                    <a class="btn btn-success" href="/edit_docs/{{doctype}}">new helpdoc</a>
                  </div>
								{% endif %}
							
						</h1>
					</div>
					<div class="lesson-content">{{doc.body | safe}}</div>
				</div>
				{% endfor %}
			</div>
		</div>
	</div>
</div>

{% endblock %}