{% extends "base.html" %}
{% block randomjs %}<script src="/javascript/qselection.js" type="text/javascript"></script>{% endblock %}
{% block body %}
<br>
<div class="container-fluid">
  <div class="row-fluid">
    <div class='well span6'>
      <p class="muted"><strong class='text-theme'>Shorthand Playground</strong> Type anything over here then click "Shorthand it!"
        Your formatted content will appear on the right side of the screen</p>      
      <p>
        {% include 'shorthand_buttons.html' %}
      </p>
      <form class="form" method="post" id="playground-form">
          <textarea id="inputContent" class="span12" name="content" rows="20">{{the_content_unformatted}}{{example}}</textarea> 
          <button type="submit" class="pull-right btn btn-primary"><i class="icon-bolt"></i> Shorthand it!</button>    
      </form>
    </div>
    <div class="span6" id="formattedContent">{{the_content_formatted | safe}}</div>
  </div>

</div>



{% endblock %}