{% extends "base.html" %}
{% block marketing_div %}
<header class="jumbotron" id="overview">
  <div class="container">
    <div class="row">
      <div>
        <div class="col-lg-5 price-package">
          <h2>Free</h2>
          <p class="lead">Start today, no obligation, no cost. Period.</p>
          <p><i class="icon-book"></i> Create up to 3 courses</p>
          <p><i class="icon-lock"></i> Make Courses Private or Public</p>
          <p><i class="icon-tags"></i> Ad-Supported</p>
          
          <br>
          {% if localCustomer.exists %}
            {% if localCustomer.customer.subscription.plan.id == 'free' %}
              <a class="btn btn-success btn-disabled" disabled>Current Plan</a>
            {% else %}
              <a href="/sign_up/free?upgrade=true" class="btn btn-success">
                {% if localCustomer.customer.subscription.plan.id in ['plus'] %}
                  <i class="icon-edit icon-circle-arrow-down"></i> Downgrade
                {% else %}
                  <i class="icon-edit icon-circle-arrow-up"></i> Upgrade
                {% endif %}
              </a>
            {% endif %}
          {% else %}
            <a href="/link/free" class="btn btn-success">Sign Up</a>
          {% endif %}
        </div>
        <div class="col-lg-5 col-lg-offset-2 price-package">
          <h2>Plus<p class="pull-right text-danger">$10<br>month</p></h2>
          <p class="lead">Put all your courses online. Make money doing it.</p>
          <p><i class="icon-book"></i> Create up to 8 courses</p>
          <p class="text-warning"><i class="icon-ban-circle"></i> No advertisements</p>
          {% if monetize %}
            <p class="text-theme"><i class="icon-credit-card"></i> Sell Your Lessons</p>
          {% endif %}
          <br>
          {% if localCustomer.exists %}
            {% if localCustomer.customer.subscription.plan.id == 'plus' %}
              <a class="btn btn-success btn-disabled" disabled>Current Plan</a>
            {% else %}
              <a href="/sign_up/plus?upgrade=true" class="btn btn-success">
                <i class="icon-edit icon-circle-arrow-up"></i> Upgrade
              </a>
            {% endif %}
          {% else %}
            <a href="/link/plus" class="btn btn-success">Sign Up</a>
          {% endif %}
        </div>       
      </div>      
    </div>
  </div>
</header>
<div class="container"> 
  <div class="row-fluid">
    <div class="marketing span8 offset2">
      <div class="span12">
        <h1>Pay for what you use</h1>
        <p class="marketing-byline">Change your plan at any time</p>
        <p>The <b>Plus</b> plan is monthly and pro-rated, which means if you change your plan in the middle of the month, you don't pay for your unsued days! You can upgrade anytime you want - your next bill will reflect the time spent on the old plan, plus the time spent on the new plan! Perfect for testing out which feels right for you.</p>
      </div>
      <div class="span12">
        <h1>Trust/Security</h1>
        <p class="marketing-byline">We use <a href="http://www.stripe.com">stripe</a> to manage your payments</p>
        <p>Stripe is a payment system we use to manage your subscriptions. You can rest easy knowing your sensitive financial information is in good hands (<a href="https://stripe.com/help/security">read about stripe's security</a>). Lessonwell never sees your credit card numbers.</p>
      </div>
      <div class="span12">
        <h1>Free Trial on Plus</h1>
        <p class="marketing-byline">Your 30 days follow you if you change plans!</p>
        <p>Play around with plus, then switch to free; what do we care? You have 30 days to use lessonwell however you want. If you don't want to continue service, simply cancel your subscription and you won't be charged a dime. When your 30 day trial has expired, you will be charged each month at the subscription rate.</p>
      </div>      
    </div>
  </div>    
</div>


{% endblock %}