
{% for standard_id in current_standards %}
<p>
  <form method="post" action="/ajax_standards/{{course.key.id()}}" class="remove-form">
    {% for part in current_standards[standard_id] %}
      {% if loop.first %}
      	<span class="muted">{{part}} </span>
      {% elif loop.last %}
      	<i class="icon-chevron-right text-info"></i> <strong>{{part}} </strong>
      {% else %}
      	<i class="icon-chevron-right text-info"></i> {{part}}
      {% endif %}               
    {% endfor %}
    <input type="hidden" value="{{standard_id}}" name="standard_id">
    <input type="hidden" value="true" name="should_delete">
    <button class="btn btn-small pull-right btn-danger" type="submit">remove</button>
    <hr>
  </form>
</p>
{% endfor %}