{% extends "base.html" %}
{% block side_list %}
{% if upgrade == 'true' %}
<ul class="side-list">
  <li class="completed-step">
    <a class="course-link" href="#"><i class="icon-check"></i> Change Subscription</a>
  </li>
  <li class='active'>
    <a class="course-link"><i class="icon-check"></i> Change Complete</a>
  </li>
</ul>
{% else %}
<ul class="side-list">
  <li class="completed-step">
    <a class="course-link" ><i class="icon-check"></i> Step 1: Link Google Account</a>
  </li>
  <li class="completed-step">
    <a class="course-link completed-step" ><i class="icon-check"></i> Step 2: Personal Information</a>
  </li>
  <li class='active'>
    <a class="course-link"><i class="icon-check"></i> Registration Complete</a>
  </li>
</ul>
{% endif %}
{% endblock %}
{% block body %}
<div class="big-container container">
 {% if upgrade != 'true' %}
  <h1>Welcome to <strong>lessonwell</strong></h1>
  <p class="lead">Let's get your first course online!</p>
  <div>
      <a href="/new_course" class="btn btn-primary btn-lg"><i class="icon-plus"></i> New Course</a>       
      <a href="/{{localUser.username}}" class="btn btn-success btn-lg">
        <i class="icon-user"></i> View Your Profile
      </a> 
  </div>   
  {% else %}
  <h1>Your account has been updated</h1>
  <p class="lead">Thank you for your continued support of lessonwell!</p>
  <div>
    <a href="/{{localUser.username}}" class="btn btn-primary">Go back to your profile</a>
  </div>
  {% endif %}    
</div>
{% endblock %}