{% extends "base.html" %}
{% block body %}
<header class="jumbotron subhead" id="overview">
  <div class="container">
    <h1>Test Page</h1>
    <p class="lead">test stuffs</p>
  </div>
</header>
<div class="container">
  <div class='row-fluid'>
    <br>
    <i class="icon-camera text-theme icon-4x badge-icon icon-border pull-left"></i>
    <i class="icon-globe text-theme icon-4x badge-icon icon-border pull-left"></i>
    <i class="icon-book muted icon-4x badge-icon icon-border pull-left"></i>
    <i class="icon-compass text-warning icon-4x badge-icon icon-border pull-left border-gold"></i>
    <span class="text-theme badge-icon icon-4x icon-border pull-left "> $\dot{x}$</span>
  </div>

</div>


{% endblock %}